[2022-01-31 17:36] danieleperilli opened #66 "Fix blurry icon"
The icon in the application is blurry compared to the icon of the application file.

<img width="692" alt="Notification_Center" src="https://user-images.githubusercontent.com/9072177/151844028-74e8f6c7-9f51-4ec2-b8be-c3b32710f911.png">
.

[2022-01-31 17:39] danieleperilli opened #67 "Typo in DAX Formatter SpacingStyle enum"
The enum SpacingStyle of the FormatDaxRequest contains a typo.
`NoNpaceAfterFunction` should be `NoSpaceAfterFunction`.

<img width="746" alt="Notification_Center" src="https://user-images.githubusercontent.com/9072177/151844396-74c6631e-f9b3-4bde-b1f0-3e2cbefa7c60.png">

[2022-02-01 08:11] danieleperilli opened #69 "Report bug link"
We need to add a button pointing to the issue page on Github to allow posting bugs/requests directly in Bravo.

[2022-02-01 08:16] danieleperilli opened #70 "Format DAX table row color doesn't update"
The color of the rows in Format DAX screen is not updated correctly when you change the formatting option and you had previously generated a preview.

[2022-02-01 08:17] danieleperilli opened #71 "Add "Download preview versions" option"
Add an option in the About screen to allow users to be notified when a new preview version of Bravo is available.

- [x] Add new API option settings (completed with #82)
- [x] Add update settings in the About screen (done in #87)
- [x] #94
- [x] Check for updates on update channel change (done in #101)

[2022-02-01 20:55] albertospelta opened #73 "Auto theme not updated correctly when OS custom settings are enabled"
The app theme is not updated correctly when using a custom mode in the Windows Color settings.
In the image below, the title bar should use the light theme instead of the dark one, as specified in " default app mode".

![image](https://user-images.githubusercontent.com/1957788/152048411-933c385a-6acd-4170-9337-3cb5474847d5.png)

[2022-02-02 07:56] danieleperilli opened #75 "Don't localize the reload message when you change the language of the app"
If you accidentally change the language of the app a localized message asking to reload appears, but it should be with current language, not the new one.

![image](https://user-images.githubusercontent.com/9072177/152114809-505c01e0-b7ca-4683-8a3d-81fb0381e1da.png)

[2022-02-02 08:15] albertospelta opened #76 "PBICloudService.GetDatasetsAsync unhandled NullReferenceException"
- TraceId `b00c410b3e509e46b9aa333e83a96581`
- Message `An unhandled exception has occurred while executing the request.`
- Version: `0.2.0-0.2.8067.15027-preview-20220201.2-develop-fa558b4bdd9cdafc896eb5a569cbe7fad72dd072`
- Stack Trace:
[code]

[2022-02-02 08:52] danieleperilli opened #77 "Change DAX Formatter logo in dark mode"
The DAX Formatter logo should use white text when the app is in dark mode.

![image](https://user-images.githubusercontent.com/9072177/152122117-45e8cbb3-3e88-4895-8c8e-0d22d0ffdfd3.png)

[2022-02-02 09:56] #73 closed, assigned to albertospelta

[2022-02-03 13:41] albertospelta opened #79 "Telemetry options - enable/disable error"
The toggle button that enables telemetry does not update the settings, the action raises an HTTP 400 error which is not notified to the user.  The `telemetryEnabled` property does not contains a valid boolean value, the submitted value is `telemetryEnabled: "on"` instead of `telemetryEnabled: "true"`.

[code]

[2022-02-03 15:20] #76 closed, assigned to albertospelta

[2022-02-03 15:48] albertospelta opened #80 "Add support for application diagnostics"
- [x] Add diagnostics settings and API action (done/included in #81)
- [x] Add diagnostics console pane (done in #87)
- [x] Add Clear control (done in #107)
- [x] #100
- [x] Anonymize data if level is Basic (done in #107)
- [x] Log all calls  (auth, open, web messages, etc) (done in #107)
- [x] Avoid call api/GetDiagnostics while diagnostics is not enabled (done in #107)

[2022-02-07 06:57] marcosqlbi opened #86 "Ignore minor differences in DAX Formatter"
We received this feedback: In my Contoso file from TDGTD I think, measures were already formatted, yet the tool says they can be formatted? Why? Even after I enabled automatic preview, it still shows the same number of measures that can be formatted. Or does it mean the measures aren’t read-only?

Probably most of the differences are caused by the initial CR/LF and following differences between CR

[2022-02-08 08:06] #79 closed, assigned to danieleperilli

[2022-02-08 08:06] #75 closed, assigned to danieleperilli

[2022-02-08 08:07] #69 closed, assigned to danieleperilli

[2022-02-08 14:00] #77 closed, assigned to danieleperilli

[2022-02-08 14:00] #70 closed, assigned to danieleperilli

[2022-02-13 07:44] danieleperilli opened #90 "Exporting a dataset to Excel returns error 404"
Unable to export a dataset to Excel. It returns an error like this:

Error HTTP/404: Not Found.
Trace Id: 00-efdfeb57c991934cb73c1031a469aed6-55d0c287f0b6c341-00
Version: 0.0.0.999-DEV (0.0.0.999)

[2022-02-13 07:51] danieleperilli opened #91 "Too long named tables error when exporting to Excel"
When exporting reports with long named tables to Excel, this error is thrown:

System.ArgumentException
  HResult=0x80070057
  Message=**The name "DateTableTemplate_47e7e47f-2d1a-4473-9042-4a6fc79e89c5" exceeds the maximum length of 31 characters supported by Excel**
  Source=LargeXlsx
  StackTrace:
   at LargeXlsx.XlsxWriter.BeginWorksheet(String name, Int32 splitRow, Int32 splitColumn, Boolean r

[2022-02-13 09:46] danieleperilli opened #92 "Export as CSV in a subfolder"
Consider automatically creating a subfolder in the selected folder when Export as CSV is selected.
The reason is that from the File Browser it is not possible to see the contents of the folder you choose and it may contain a previous export.

[2022-02-13 14:26] #91 closed, assigned to albertospelta

[2022-02-13 14:32] albertospelta opened #94 "API for checking the current version for a specific update channel"
We need an additional API to check the current released version for a specific `UpdateChannel`.

[2022-02-13 14:46] danieleperilli opened #96 "Display a job summary in the export complete screen"
We should display a summary of what has been exported with the status of each job

[2022-02-13 14:50] albertospelta opened #97 "api/ListReports returns a connection timeout exception"
Error details from telemetry - `TraceId | faa13c85fcbd4949b6f80a01bd960f72`

`The connection timed out.`
[code]

[2022-02-13 18:15] #94 closed, assigned to albertospelta

[2022-02-14 06:20] danieleperilli opened #99 "Optional BravoExportSummary sheet"
I would make the BravoExportSummary sheet optional.

Also, it should be the first sheet of the Excel file (if possible) and I would use a more "human" name like "Export Summary".
We could also evaluate to include a sentence like "Exported with Bravo for Power BI".

[2022-02-14 12:34] albertospelta opened #100 "Add diagnostic levels: None/Basic/Verbose"

[2022-02-14 14:17] #71 closed, assigned to albertospelta, danieleperilli

[2022-02-14 14:17] #90 closed, assigned to albertospelta

[2022-02-14 14:18] #100 closed, assigned to albertospelta

[2022-02-14 14:22] #99 closed, assigned to albertospelta

[2022-02-14 15:14] albertospelta opened #103 "Format online with Dax Formatter does not use format settings"
When you select "Format online with Dax Formatter" from the preview panel, the arguments used for the query string are different from Bravo's formatting settings. The DAX expression formatted through the Dax Formatter web page therefore turns out to be different from the one formatted by using Bravo.

Consider applying the same format settings used by the Bravo application also when using the onli

[2022-02-14 18:05] albertospelta opened #104 "api/GetCurrentVersion always returns 204 NoContent"
The AutoUpdater.NET library seems to be malfunctioning after an error occurs during the update check. Then, for all subsequent attempts to check for an update, the `api/GetCurrentVersion` API always returns an HTTP code `204 NoContent`

Repro steps:
- api/GetCurrentVersion correctly returns a `200 OK` response
- disconnect from the internet
- api/GetCurrentVersion correctly returns a network conne

[2022-02-16 14:59] #80 closed, assigned to albertospelta, danieleperilli

[2022-02-16 16:55] #103 closed, assigned to danieleperilli

[2022-02-16 17:03] danieleperilli opened #109 "Detect unsupported features"
We need to disable some features for different document types (e.g.: Format DAX should not be available for VPAX files, Manage Dates for Datasets, etc...).

- [x] Add some attributes in the model returned by getModelFromXXX with the list of features and their availability (#121)
- [x] Add a specific screen in the UI when the feature is not available (done in #112)
- [x] Add UI support for the `App

[2022-02-16 21:12] marcosqlbi opened #110 "Show links to folder/file after export"
After the export operation is completed it would be useful to provide a link to open the folder with the exported files or to the exported Excel file.

[2022-02-17 10:35] #96 closed, assigned to danieleperilli

[2022-02-18 08:49] #110 closed, assigned to albertospelta, danieleperilli

[2022-02-18 12:18] danieleperilli opened #116 "Format DAX improvements"
- [x] Allow resizing current/preview measure panes (done in #164)
- [x] Allow side over side comparison (done in #164)
- [x] Allow toggling word wrap (done in #164)
- [ ] Allow zooming the measures panes full screen

[2022-02-20 10:12] #97 closed, assigned to albertospelta

[2022-02-21 09:42] albertospelta opened #120 "Add support for all DaxFormatterRequest properties"

[2022-02-22 09:13] albertospelta opened #123 "Setup - add a new framework-dependant publish version"
In this mode, the .NET 5.0 runtime must be installed on the target machine. We have less control at runtime and don't know exactly what version of the .NET runtime will be used when the app runs. We should consider adding more runtime detail to telemetry and diagnostics.

Preliminary test error:
[code]

[2022-02-23 16:39] #123 closed, assigned to albertospelta

[2022-02-25 10:47] albertospelta opened #128 "Data export fails if table contains no columns"
Exporting data to Excel and CSV throws an exception if the selected table contains no columns, as in the case of a measure-only table.

`AdomdErrorResponseException`
`"Query (%, %) Table '%' cannot be used in computations because it does not have any columns."`

- [x] Host / add `TabularTableFeature` and `TabularTableFeatureUnsupportedReason` enums (done in #129)
- [x] UI / enable or disable table

[2022-02-26 06:50] danieleperilli opened #130 "Export Data CSV: Unhandled error if the delimiter is not valid"
Reproduce steps:
1. Open a file and go to Export Data
2. Choose CSV and Other as Fields Delimiter
3. Insert a **space** as custom field
4. Export

It returns `CsvHelper.Configuration.ConfigurationException: '  cannot be a WhiteSpaceChar.'` as unhandled error.

We can avoid inserting spaces in the UI, but I'm afraid there are other characters that may raise the same error.

[2022-03-03 10:06] #130 closed, assigned to albertospelta

[2022-03-03 10:07] #128 closed, assigned to albertospelta, danieleperilli

[2022-03-03 10:36] albertospelta opened #133 "Remove table name from header column names"
CSV header `Date[Year];Date[Month];Date[Day]`
Should be
`Year;Month;Day`

[2022-03-03 11:06] albertospelta opened #134 "Tab field delimiter not applied on CSV export"
The tabulation character U+0009 field delimiter not applied on CSV export. An empty string is received for the `ExportDelimitedTextSettings.Delimiter` property and the default character of the local system culture is applied as fallback.

[2022-03-03 16:35] #109 closed, assigned to albertospelta, danieleperilli

[2022-03-03 17:10] #134 closed, assigned to danieleperilli

[2022-03-05 10:12] #67 closed, assigned to albertospelta

[2022-03-07 09:18] albertospelta opened #145 "Support ExportData for non-premium datasets"
- [x] Add export data for XmlaEndpoint-unsupported datasets (#162)
- [x] UI - support changes (more details on the PR description) (#167)

[2022-03-13 11:19] danieleperilli opened #147 "Autoscan doesn't always work"
With some files the preview returns this error:

Microsoft.AnalysisServices.AdomdClient.AdomdErrorResponseException: 'Query (185, 39) Cannot find table ''.'
Attached is a sample file you can use to reproduce the issue.
[test-dates.pbix.zip](https://github.com/sql-bi/Bravo/files/8239400/test-dates.pbix.zip)

[2022-03-13 11:24] danieleperilli opened #148 "Timeout error and duplicated TimeIntelligence measures"
If you create some dates using Manage Dates, you need to close the report in Power BI Desktop, otherwise Bravo won't be able to apply new changes again.

Reproduction Steps:

1. Open a report in Power BI and Bravo
2. Create dates tables in the report
3. Repeat point 2 -> At this point Bravo loads forever and, eventually, returns a Timeout error.

[2022-03-13 11:32] danieleperilli opened #149 "TargetMeasures for Time Intelligence"
If you choose some target measures for the generation of Time Intelligence functions, the feature doesn't work well.
If target measures are not chosen, however, several functions are generated.

Reproduction Steps:

1. Open a report in Power BI and Bravo
2. Enable Time Intelligence, set **Choose measures..**. in the Target Measures option
3. Generate a preview

You see that the Time Intelligence t

[2022-03-13 11:39] danieleperilli opened #150 "Hierarchy columns in Preview are not available in the model - Weekly template"
If you choose the Weekly template and preview the Dates table, you will see that the Year-XXX hierarchies contain columns with no datatype and cannot be inspected: this is because those columns are not available in the model and we don't know their properties.

<img width="295" alt="Power_BI" src="https://user-images.githubusercontent.com/9072177/158057541-188eec1c-21bc-4f11-9992-b448019748a3.png"

[2022-03-14 09:05] #147 closed, assigned to albertospelta

[2022-03-14 09:06] #133 closed, assigned to albertospelta

[2022-03-14 12:25] albertospelta opened #153 "TypeError: Cannot read properties of undefined (reading 'map')"
Repro steps:
- Open test-dates.pbix ( file attached to issue 147 )
- Disable TimeIntelligence
- Set Calendar to Standard and then select Preview, Apply
- Set Calendar to Custom and then select Preview
- The error should appear after few seconds

[code]

[2022-03-14 18:10] #148 closed, assigned to albertospelta

[2022-03-15 12:01] albertospelta opened #156 "XLSX export produces a corrupt workbook file"
Recovery log file content:
[code]

[2022-03-15 14:20] albertospelta opened #158 "ManageDates configuration improvements"
- [x] host - add the `DateConfiguration.IsCurrent` property (details here #159)
- [x] host - set `DateConfiguration` defaults (`FirstMonthOfYear`, `FirstDayOfWeek`, `RegionalFormat`, `HolidaysCountry`) (details here #173)
- [x] host - support removing tables and measures by using `DateConfiguration` `IsEnabled` properties (details here #175)
- [x] UI - support changes and new properties (#178)

[2022-03-15 14:20] albertospelta opened #159 "Persist and reload the applied DateConfiguration"
When a ManageDate template is applied, its configuration is saved in the metadata of the tabular model.
The configuration is marked as the current configuration via the new `DateConfiguration.IsCurrent' property.
This configuration is also added to the configurations exposed via the GetConfigurationsForReport API.

- Added property `DateConfiguration.IsCurrent`
- Persisted current configuration us

[2022-03-15 14:43] danieleperilli opened #161 "Allow to open PBIX files directly from Bravo"
It might be useful to open PBIX files directly from Bravo even if they are not already open in Power BI.
Under the hood we should open the report with Power BI Desktop and wait for it to load before opening it in Bravo.

- [x] host -add new API (#166)
- [x] UI - support changes (#170)

[2022-03-15 14:45] #153 closed, assigned to danieleperilli

[2022-03-15 14:46] #149 closed, assigned to albertospelta

[2022-03-15 20:26] #159 closed, assigned to albertospelta

[2022-03-16 11:54] #120 closed, assigned to albertospelta, danieleperilli

[2022-03-17 09:01] #145 closed, assigned to albertospelta, danieleperilli

[2022-03-17 09:04] danieleperilli opened #168 "Can't open VPAX files"
I can't open VPAX files anymore.
It returns:
[code]

[2022-03-17 10:50] #168 closed, assigned to albertospelta

[2022-03-17 15:43] #161 closed, assigned to albertospelta, danieleperilli

[2022-03-18 09:53] marcosqlbi opened #174 "A second Power BI file does not open Bravo correcly"
Repro:

1. Open a PBIX file with Power BI Desktop (instance 1)
2. Open Bravo from Power BI Desktop
3. Open another PBIX file with Power BI Desktop (instance 2)
4. Click the Bravo icon on Power BI Desktop external tool ribbon: I would expect Bravo to be moved in the foreground and open a new tab with the connection to instance 2, but nothing happens.

[2022-03-18 21:51] #174 closed, assigned to albertospelta

[2022-03-19 08:12] #86 closed, assigned to albertospelta, danieleperilli, marcosqlbi

[2022-03-20 07:01] #158 closed, assigned to albertospelta, danieleperilli

[2022-03-20 07:05] danieleperilli opened #179 "Sometimes Manage Dates changes are not saved"
The Manage Dates feature sometimes doesn't save/update correctly the target report.
It seems totally random but verified several times.

[2022-03-20 07:06] danieleperilli opened #180 "Removed Time Intelligence measures not available in preview"
When I remove TimeIntelligence from a model where you previously used Manage Dates, the measures don't appear in the preview as deleted objects (the "removedObjects" list of modelChanges doesn't contain any measures).

[2022-03-20 07:08] danieleperilli opened #181 "Special flag for columns created via Manage Dates"
Perhaps we need a special flag for tables if they have been previously created by Manage Dates so to avoid being selected for auto scan.

The table must be excluded if :
- `TabularTable.IsManageDates` = `true`
- `TabularTable.IsDateTable` = `true`

Task
- [x] host - add new `TabularTable.IsManageDates` property (#186)
- [x] UI - add support for new property and exclusion logic (#187)
- [x] host -

[2022-03-20 12:30] marcosqlbi opened #182 "Error in data lineage for new Date tables"
Cannot create relationships in Power BI between a new Date table created by Bravo and existing tables.
Repro:
- Open a Contoso file without Date table (delete the existing one if it exists)
- Open Bravo and create a Date table
- Go in Power BI, Diagram View, and create a relationship between Date and an existing Date column.

Error Message:
Non-empty assertion failure: toTableLocalLineageTag

[2022-03-20 12:43] #104 closed, assigned to albertospelta

[2022-03-20 12:56] albertospelta opened #184 "Retain settings from previous install"
Retain shortcut and telemetry settings from a previous install

[2022-03-21 09:59] #182 closed, assigned to albertospelta

[2022-03-22 09:10] #181 closed, assigned to albertospelta, danieleperilli

[2022-03-22 09:37] marcosqlbi opened #189 "First Year and Last Year parameters in ManageDates"
If you select "Date Interval Scan = Disabled" and set the First Year to 1990, keeping Last Year blank, the preview runs indefinitely.
By setting "Last Year" to 2010, the preview appears.
However, if after this change I switch to "Date Interval Scan = Choose Columns" and I select two columns in Sales, which range starts in 2000, I still see the first date in the preview set to 1990.
It makes sense

[2022-03-22 14:55] #180 closed, assigned to albertospelta

[2022-03-24 06:55] #189 closed, assigned to danieleperilli

[2022-03-25 14:16] #184 closed, assigned to albertospelta

[2022-03-25 14:46] #156 closed, assigned to albertospelta

[2022-03-28 13:36] danieleperilli opened #208 "Detect disabling Auto Date/Time via Sync"
### The feature request

If you’re using Auto Date/Time, Bravo says that Manage Dates is unsupported – fine.
If I go back to my file, disable Auto Date/Time, Bravo is unable to detect the change: I have to close the report and reopen it to make the Manage Dates feature available.

### Proposed solution

Bravo should detect that Auto Date/Time has been disabled in the report when the Sync button is

[2022-03-28 13:38] danieleperilli opened #209 "Add a button to analyze measures in Format DAX"
### The feature request

When you open the Format DAX tab, it’s not immediately obvious how you can analyze measures. I.e. I see “7 to analyze”, and how do I analyze them? The “refresh” (Synchronize) button doesn’t do it.

### Proposed solution

Add a button to analyze the measures so that people don’t have to click around. Yes, I figured out you need to select a measure, then preview it, although

[2022-03-28 15:25] DaanHumble opened #210 "Unclear error message in Manage Dates screen"
### Describe the problem

When connected to a datamodel (the Contoso datamodel from the Tabular Modelling Course) this error message occurs in the Manage Dates screen:

![image](https://user-images.githubusercontent.com/41958563/160431426-c1e67571-201f-4485-a977-70a9931f7f25.png)

The error message does not provide any information on how to solve this. I'm also not sure of the cause of this proble

[2022-03-28 15:34] marcosqlbi commented on #210
Can you send us a copy of the model you used? This way we can try to reproduce.
Thanks!

[2022-03-28 15:54] PEAKSvalleys opened #211 "Bravo for Power BI - Internal Server Error"
Downloaded Bravo for Power BI and application was added into my External tools menu. Keep receiving the below error when I try to connect a Power BI workbook with Bravo. This error occurs if I try and connect from the external tool link within Desktop or by opening the app first and trying to connect to an open Power BI workbook.
---
Error HTTP/500: Internal Server Error.
Index was outside the bou

[2022-03-28 16:21] Laura-GB opened #212 "Columns not referenced in the model"
### Describe the problem

Columns are highlighted as not used within the model but are being used on visuals. Is that right?
The note of "Before removing them, make sure you are not using these columns in any reports, which Bravo cannot determine" seems to imply other reports rather than check visuals in the current report.

### Bravo version

0.9.8121.26944

### Tabular model

Power BI Desktop, i

[2022-03-28 16:25] rogerlight opened #213 "Opening PBIX file: Object ref not set ..."
Go to Open --> Active Reports on power BI Desktop --> Browse. Select a PBIX file and get the error below. Other PBIX files are fine. The PBIX file with an error will open in PBI Desktop and will publish to the Service.

---
Error HTTP/500: Internal Server Error.
Object reference not set to an instance of an object.
Trace Id: 00-4773cea16a714140ac5817d8f64f243b-4ba1e9b4b655cf4d-00
Version: 0.9.0 (0

[2022-03-28 16:39] darwinlloyd opened #214 "Expand All Button"
### The feature request

After the group by table, we have the option to Collapse all, but not the Expand all, it will be good to have that button as well as by default when we group by table is collapsing.

### Proposed solution

Please add Expand All

![image](https://user-images.githubusercontent.com/16768184/160445826-f50c001e-0d7f-4bf8-a71d-7bea57beafe1.png)

### Additional context

_No respo

[2022-03-28 16:46] davideldersveld opened #215 "Cannot connect via XMLA if using Passwordless 2FA via Authenticator app"
### Describe the problem

Attempting to Sign In to Power BI service. Using two factor auth with Microsoft's Authenticator app. Receive the prompt and number to confirm, enter it into Authenticator for approval, but Bravo then states that I need to use an alternative method to connect.

### Bravo version

0.9

### Tabular model

Power BI Dataset

### Power BI

Power BI Service

### Steps to reprodu

[2022-03-28 17:06] ihebcap opened #216 "Error 200: AS instance does not contain any databases"
Provide a detailed explanation of the issue in English.

---
Error 200: The Power BI Desktop Analysis Services instance does not contain any databases. Try to connect to the report using the Bravo icon in the External Tools of Power BI Desktop.
Version: 0.9.0 (0.9.8121.26944)

[2022-03-28 17:10] darwinlloyd commented on #212
@Laura-GB : I believe unreferenced columns refers that it is not referred in measures not in the visual.

[2022-03-28 17:11] DaanHumble commented on #210
Ah, forgot to add that one. Here you go!

[Contoso.zip](https://github.com/sql-bi/Bravo/files/8364862/Contoso.zip)

[2022-03-28 17:32] marcosqlbi commented on #212
Yes, we have to improve the description of "unreferenced columns". We are evaluating a technique to detect columns referenced in visuals of the same PBIX, but the problem for external reports would remain.
However, we have to improve documentation and description for this version, I get that.

[2022-03-28 17:33] marcosqlbi commented on #216
Can you describe the action you performed to see this error? Thanks!

[2022-03-28 17:35] marcosqlbi commented on #213
Are you able to provide a version of the PBIX file that does not work? If you have sensitive data, try to copy the PBIX, remove the data you don't want to share, and try again to open it. When you have a version that still reproduces the problem and you can share, please send it to us. Thanks!

[2022-03-28 18:17] AndreJaarconsult opened #217 ""Mal-formed string literal" format DAX error"
### Describe the problem

hi,
All measure that have html content inside is marked with errors.

### Bravo version

0.9.8121.26944

### Tabular model

Power BI Desktop, import mode

### Power BI

2.103.661.0 64-bit

### Steps to reproduce the behavior

_No response_

### Additional context

_No response_

### Screenshots

![image](https://user-images.githubusercontent.com/59178334/160461218-54e7805

[2022-03-28 18:19] AndreJaarconsult opened #218 "Select Column before export"
### The feature request

Not everytime we want the full table to be export, sometimes just few columns

### Proposed solution

Have an window to select the columns you want to export

### Additional context

_No response_

[2022-03-28 18:22] marcosqlbi commented on #218
This is a design choice.
DAX Studio has an export feature that can be combined with the Query Builder to get the columns and rows you want.
We do not have plans to implement that in Bravo at the moment.

[2022-03-28 18:22] #218 closed

[2022-03-28 18:26] smearp opened #219 "Enable installation by non-administrator user"
### The feature request

Please add the ability to install as a user, without requiring local admin permissions, as DaxStudio/VS Code/etc do.

### Proposed solution

Users with locked-down work desktops will be able to install to their computer without having administrative priveleges.

### Additional context

_No response_

[2022-03-28 18:40] marcosqlbi commented on #216
The error explains what you are trying to do - did you try to connect Bravo to an empty PBIX file, or to a PBIX report connected to an external dataset?

[2022-03-28 18:56] #210 closed

[2022-03-28 21:33] aanyoti opened #221 "Error when Attach to PowerBI Desktop"
Hi, when attempting to attach to PowerBI Desktop I encounter this error, what could be the cause?

---
Error HTTP/500: Internal Server Error.
Object reference not set to an instance of an object.
Trace Id: 00-8ef0aca367ddb64a87de1b430988b28b-75b497ac7fcd8740-00
Version: 0.9.0 (0.9.8121.26944)

[2022-03-29 02:34] djouallah opened #222 "Format DAX for calculated Table and Calculated Column"
### The feature request

Format DAX works only with measures

### Proposed solution

it will be nice to have the option to Format DAX for calculated Table and Calculated Column too

### Additional context

_No response_

[2022-03-29 06:45] albertospelta commented on #221
Closing this as duplicate #213

[2022-03-29 06:45] #221 closed

[2022-03-29 07:12] albertospelta commented on #211
@PEAKSvalleys, are you able to provide a version of the PBIX file that does not work? If you have sensitive data, try to copy the PBIX, remove the data you don't want to share, and try again to open it. When you have a version that still reproduces the problem and you can share, please send it to us. Thanks!

[2022-03-29 09:03] marcosqlbi opened #223 "Format string of Date column uses M or MM instead of the month number"
### Describe the problem

The format string applied to the Date column of the Date table uses M instead of m.
This is caused by the .NET function ShortDatePattern that uses "M" for month number, whereas the format string of the column in Tabular requires "m" for month number.

### Bravo version

0.9.8121.26406

### Tabular model

Power BI Desktop, import mode

### Power BI

Power BI Desktop versio

[2022-03-29 09:24] fredfrota opened #224 "Error HTTP/500: Internal Server Error."
Error HTTP/500: Internal Server Error.
Object reference not set to an instance of an object.
Trace Id: 00-c9b3a6a709eb844c9f6bcd46c188f5c4-0fefa8a29fa4864f-00
Version: 0.9.0 (0.9.8121.26944)

[2022-03-29 09:34] albertospelta commented on #224
Closing this as duplicate of #213

[2022-03-29 09:34] #224 closed

[2022-03-29 09:42] moen-cerix opened #225 "DllNotFoundException: Unable to load DLL 'Photino.Native'"
Running Power BI Desktop (Version: 2.103.661.0 64-bit (marts 2022)) using Parallels on Mac

Downloaded and installed Bravo version 0.9.0 just fine, but when trying to launch Bravo via menu item "External tools", I receive the following error

<img width="559" alt="image" src="https://user-images.githubusercontent.com/102588342/160583051-03d11437-16c1-422d-aef9-54de14255a0f.png">

Errormessage:

Sy

[2022-03-29 09:54] Paruccone opened #226 "Unable to connect with PBI desktop"
Ciao amici!

I just tried to open a file in PBI (using may 2021 RS) and to launch Bravo. Same outcome if I run Bravo as Admin.

Any idea what else I could try? Or any other info I can gather on the cause? Thx!

This happens with one specific file. Tried another one and Bravo connects to PBI flawlessly so I'd exclude system's issues.
---
Error HTTP/500: Internal Server Error.
Object reference not s

[2022-03-29 09:55] chrisnaz opened #227 "Error 600: You are not connected to the Internet."
Trying to formate dax measure. And here below the error I had
---
Error 600: You are not connected to the Internet.
[TimedOut] A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond. (www.daxformatter.com:443)
Trace Id: 00-3f3d42ed56c22042a22b3a4d512c4351-fd3b0560d6928f44

[2022-03-29 09:57] Laura-GB opened #228 "Error in DateAutoTemplate"
### Describe the problem

Error in the DAX for DateAutoTemplate. Code works fine just shows an error in the DAX. Default calendar settings were selected.

![image](https://user-images.githubusercontent.com/12954710/160585229-984f2c38-ecec-474f-8aaa-7a3bbb57c4ca.png)

### Bravo version

0.9.8121.26944

### Tabular model

Power BI Desktop, import mode

### Power BI

Power BI Desktop version April 20

[2022-03-29 10:02] Khazd0rf opened #229 "Provide a meaningful issue title"
Provide a detailed explanation of the issue in English.

---
Error HTTP/500: Internal Server Error.
Object reference not set to an instance of an object.
Trace Id: 00-1a726a606df7df4283ec589c8d72cd53-40ac487829984c45-00
Version: 0.9.0 (0.9.8121.26944)

[2022-03-29 10:02] Khazd0rf commented on #229
Same error if I connect to an online data set or to powerbi desktop

[2022-03-29 10:03] albegouws opened #230 "Connect to Analysis Services Model"
Bravo is really cool - I like it.

Would it eventually have the ability to connect to an Analysis Services model?  (Not Azure).

I have exported and connected a Vertipaq file which is fine, I think it would be cool to be able to Format DAX and export from here.

Not a biggie though - I do have Tabular Editor.

Good job guys!

[2022-03-29 10:21] Anaa97 opened #231 "System.DllNotFoundException: Unable to load DLL 'Photino.Native' or one of its dependencies"
### Describe the problem

Hello!

I get this error when I try to open Bravo BI.

System.DllNotFoundException: Unable to load DLL 'Photino.Native' or one of its dependencies: The specified module could not be found. (0x8007007E)
   at PhotinoNET.PhotinoWindow.Photino_register_win32(IntPtr hInstance)
   at PhotinoNET.PhotinoWindow.<>c.<.ctor>b__238_0()
   at PhotinoNET.PhotinoWindow.Invoke(Action wo

[2022-03-29 10:38] Gossow opened #232 "Error when connecting to desktop model"
Provide a detailed explanation of the issue in English.

---
Error HTTP/500: Internal Server Error.
Object reference not set to an instance of an object.
Trace Id: 00-553ca1dbc4a671469d985e327aa2bbbe-10ae21d2df734c42-00
Version: 0.9.0 (0.9.8121.26944)

[2022-03-29 10:43] marcosqlbi commented on #228
This is a bug of Power BI Desktop, which displayed as an error what is a valid DAX syntax.
We need to keep that syntax for technical reasons related to the DaxTemplate library we use to generate the code.
We cannot fix the issue, Microsoft should do that (it has been already reported several weeks ago).

[2022-03-29 10:43] #228 closed

[2022-03-29 11:00] moen-cerix commented on #225
Issue replicated in issue #231   :)

[2022-03-29 11:10] BiswajeetBCG opened #233 "Error HTTP/500: Internal Server Error."
Provide a detailed explanation of the issue in English.

---
Error HTTP/500: Internal Server Error.
Object reference not set to an instance of an object.
Trace Id: 00-e01b747aac27704f9416f181691906a6-acba04c6028f6e4c-00
Version: 0.9.0 (0.9.8121.26944)

[2022-03-29 11:18] ymessaoui15 opened #234 "HTTP/500 Object reference not set to an instance of an object"
Provide a detailed explanation of the issue in English.

---
Error HTTP/500: Internal Server Error.
Object reference not set to an instance of an object.
Trace Id: 00-b0d4cf0c3e0e9c489654c1ca1efc0e53-4e84a6782e512d4b-00
Version: 0.9.0 (0.9.8121.26944)

[2022-03-29 11:20] smirya opened #235 "Error 200: The Power BI Desktop Analysis Services instance does not contain any databases"
The report I tried to open is connected "Live" to Power BI Dataset (connected "Live" to Tabular Model AS DB)
---
Error 200: The Power BI Desktop Analysis Services instance does not contain any databases. Try to connect to the report using the Bravo icon in the External Tools of Power BI Desktop.
Version: 0.9.0 (0.9.8121.26944)

[2022-03-29 11:49] #211 closed

[2022-03-29 11:49] #223 closed

[2022-03-29 12:14] albertospelta commented on #229
Thanks for reporting this. I'm going to close this issue as duplicate of #213

[2022-03-29 12:14] #229 closed

[2022-03-29 12:16] albertospelta commented on #233
Thanks for reporting this. I'm closing this issue as duplicate of https://github.com/sql-bi/Bravo/issues/213

[2022-03-29 12:16] #233 closed

[2022-03-29 12:27] albertospelta commented on #234
Thanks for reporting this. I'm closing this issue as duplicate of https://github.com/sql-bi/Bravo/issues/213

[2022-03-29 12:27] #234 closed

[2022-03-29 12:27] albertospelta commented on #234
Thanks for reporting this. I'm closing this issue as duplicate of https://github.com/sql-bi/Bravo/issues/213

[2022-03-29 12:49] jcharlton3 opened #237 "Provide a meaningful issue title"
Provide a detailed explanation of the issue in English.

---
Error HTTP/500: Internal Server Error.
Object reference not set to an instance of an object.
Trace Id: 00-9ca23152b6d4204c9407977cad61f65d-6a8e6dbda0006e47-00
Version: 0.9.0 (0.9.8121.26944)

[2022-03-29 13:01] albertospelta commented on #237
Thanks for reporting this. I'm closing this issue as duplicate of https://github.com/sql-bi/Bravo/issues/213

[2022-03-29 13:01] #237 closed

[2022-03-29 13:02] #232 closed

[2022-03-29 13:09] jgojiz opened #238 "Add a copy and edit button for the formatted pane"
### The feature request

Add a copy button for the formatted pane, and maybe an edit function, just like daxformatter.com

### Proposed solution

Faster edition and copy paste of DAX expressions to power bi models

### Additional context

![image](https://user-images.githubusercontent.com/61666332/160618456-de9ec843-c525-49d3-a9fd-cc14e58ee6f6.png)

[2022-03-29 13:16] mscottsewell opened #239 "Dataverse Directquery > Manage Dates - Error in Model Check"
### Describe the problem

Attempting to create a calendar throws error. - (screenshot included)

Error Query (4, 55) Column 'RowNumber-<guid>' cannot be found or may not be used in this expression

### Bravo version

0.9.8121.26944

### Tabular model

Power BI Desktop, import mode

### Power BI

Power BI Desktop version March 2022

### Steps to reproduce the behavior

Go to Manage Dates.
Attempt t

[2022-03-29 13:32] danieleperilli commented on #235
Thanks for reporting this. I'm closing this issue as a duplicate of #216

[2022-03-29 13:37] albertospelta commented on #226
Thanks for the report, we are aware of this. I am closing this issue as a duplicate of #213

[2022-03-29 13:37] #226 closed

[2022-03-29 13:59] TakeshiKagata opened #240 "Please change the locale_name in the FORMAT function to the correct one. ja-JP"
### Describe the problem

In the DAX expression generated by "Manege Dates", the locale_name argument of the FORMAT function is incorrect.

It is "ja-JP", not "jp-JP".

### Bravo version

0.9.8121.26944

### Tabular model

Power BI Desktop, import mode

### Power BI

Power BI Desktop 2.103.881.0 64-bit (March 2022)

### Steps to reproduce the behavior

1. Select Regional format - "Japanese(Japan)"

[2022-03-29 14:39] albertospelta commented on #235
Hi @smirya,

Did you tried to connect to the external dataset using the Bravo connection option "_Connect To Power BI Service_"? This is the connection option to be used when the PBIX report is "live-connected" to an external Power BI Dataset.

If you prefer, you can also connect to the report using the Bravo icon in the External Tools ribbon of Power BI Desktop.

[2022-03-29 15:06] danieleperilli commented on #240
Thanks for reporting it, I will be included in the next build, as a workaround you can choose Other and enter the correct culture code in the custom input box.

[2022-03-29 15:19] smirya commented on #235
Yes, I tried both:
![image](https://user-images.githubusercontent.com/32505476/160645486-8541f655-b255-422e-8fac-9523401abd99.png)
![image](https://user-images.githubusercontent.com/32505476/160645828-50a9d587-3d1a-48b4-a925-51ff3fd4cd37.png)

[2022-03-29 15:24] AgustPalacios opened #241 "Provide a meaningful issue title"
Provide a detailed explanation of the issue in English.

---
Error HTTP/500: Internal Server Error.
Object reference not set to an instance of an object.
Trace Id: 00-e3321b52a260a647a0750eefb9c20d19-63e5ee83fc7c5f45-00
Version: 0.9.0 (0.9.8121.26944)

[2022-03-29 18:30] albertospelta commented on #225
Does the error only occur when launching Bravo via the Power BI external tools menu or even when launching Bravo.exe from the installation folder ? Which Windows OS build are you using ?

Can you check whether the following files exist in the installation folder ? `C:\Program Files\SQLBI\Bravo\`
- WebView2Loader.dll
- Photino.Native.dll
- Photino.NET.dll

[2022-03-29 18:43] albertospelta commented on #215
Can you provide a screenshot of the message displayed by Bravo? Does the account you used for authentication belong to the same Azure Active Directory tenant used by the Power BI service or does it belong to an external federated organization?

[2022-03-29 18:51] albertospelta commented on #231
Hi @Anaa97, thanks for reporting this! I'm closing this issue as duplicate of https://github.com/sql-bi/Bravo/issues/225

In the meantime could you please provide more details on this issue by replying to the comment https://github.com/sql-bi/Bravo/issues/225#issuecomment-1082235281 ?

[2022-03-29 18:51] #231 closed

[2022-03-29 19:36] ingecamhurtado opened #243 "Internal Server Error"
Provide a detailed explanation of the issue in English.

---
Error HTTP/500: Internal Server Error.
Object reference not set to an instance of an object.
Trace Id: 00-1b2bc76711d28d428addc5fd4010ccef-39b6757c96536240-00
Version: 0.9.0 (0.9.8121.26944)

[2022-03-29 19:46] moussa16035 opened #244 "Provide a meaningful issue title"
Provide a detailed explanation of the issue in English.

---
Error HTTP/500: Internal Server Error.
Object reference not set to an instance of an object.
Trace Id: 00-016f875c9faff545a438e1f97a2e3f6d-3371f741cb842b42-00
Version: 0.9.0 (0.9.8121.26944)

[2022-03-29 20:22] nanonroses opened #245 "Provide a meaningful issue title"
Provide a detailed explanation of the issue in English.

---
Error HTTP/500: Internal Server Error.
Object reference not set to an instance of an object.
Trace Id: 00-1797f3072674d242bba6f20586d27dba-041e2a6ff56eab4c-00
Version: 0.9.0 (0.9.8121.26944)

[2022-03-29 23:03] mlongbsa opened #246 "PBI Desktop - Error HTTP/500: Internal Server Error"
Bravo is unable to open a PBIX on desktop. Receive an internal server error message.
---
Error HTTP/500: Internal Server Error.
Object reference not set to an instance of an object.
Trace Id: 00-5b79c90ceeb88b4bb58e34f0ddb4e53a-211b843988072b43-00
Version: 0.9.0 (0.9.8121.26944)

[2022-03-30 00:38] moussa16035 opened #247 "Error HTTP/500: Object reference not set to an instance of an object."
Provide a detailed explanation of the issue in English.

---
Error HTTP/500: Internal Server Error.
Object reference not set to an instance of an object.
Trace Id: 00-f9633128e12fd24dbe88f4513e37392b-1059fe64c9cf8d4d-00
Version: 0.9.0 (0.9.8121.26944)

[2022-03-30 00:44] Zhaidon opened #248 "Error HTTP/500: Internal Server Error. Error display when open an active source"
Provide a detailed explanation of the issue in English.
Get this error when open an active PBIX
![image](https://user-images.githubusercontent.com/94499191/160728605-244a7796-516f-46f6-aadb-2bf89eece54a.png)

-------
Error HTTP/500: Internal Server Error.
[{"Code":"HTTP/500","Message":"Internal Server Error.","TraceId":"00-cd3d36c9cf08aa43a41c0d9997e2a770-7b6c85c503312c4a-00","Details":"Object ref

[2022-03-30 03:13] sakakimf opened #249 "Provide a meaningful issue title"
Provide a detailed explanation of the issue in English.

---
Error HTTP/500: Internal Server Error.
2
Trace Id: 00-03a8bcbbe3a712489c43cf8bd06bda91-6c5fcd12771eaa4a-00
Version: 0.9.0 (0.9.8121.26944)

[2022-03-30 05:00] PratimaBelel opened #250 "Error HTTP/500: Object reference not set to an instance of an object."
Provide a detailed explanation of the issue in English.

---
Error HTTP/500: Internal Server Error.
Object reference not set to an instance of an object.
Trace Id: 00-21e432f295a41c4f84cd2e2a884dbebb-5a19b138b2221b41-00
Version: 0.9.0 (0.9.8121.26944)

[2022-03-30 05:23] danieleperilli commented on #246
Thanks for reporting this. I'm closing this issue as a duplicate of #213.

[2022-03-30 05:23] #246 closed

[2022-03-30 05:24] danieleperilli commented on #243
Thanks for reporting this. I'm closing this issue as a duplicate of #213.

[2022-03-30 05:24] #243 closed

[2022-03-30 05:24] danieleperilli commented on #244
Thanks for reporting this. I'm closing this issue as a duplicate of #213.

[2022-03-30 05:24] #244 closed

[2022-03-30 05:25] danieleperilli commented on #245
Thanks for reporting this. I'm closing this issue as a duplicate of #213.

[2022-03-30 05:25] #245 closed

[2022-03-30 05:25] danieleperilli commented on #247
Thanks for reporting this. I'm closing this issue as a duplicate of #213.

[2022-03-30 05:25] #247 closed

[2022-03-30 05:25] danieleperilli commented on #248
Thanks for reporting this. I'm closing this issue as a duplicate of #213.

[2022-03-30 05:25] #248 closed

[2022-03-30 05:26] danieleperilli commented on #250
Thanks for reporting this. I'm closing this issue as a duplicate of #213.

[2022-03-30 05:26] #250 closed

[2022-03-30 06:36] monzerosama opened #251 "HTTP/500: Internal Server Error"
Hello,
This is the 1st usage of Bravo, just open it, and I got the below Error,
I'm running the latest Power BI version on Win 11.

---
Error HTTP/500: Internal Server Error.
Object reference not set to an instance of an object.
Trace Id: 00-6c1322a424e0274ba2b05497b5053adf-a3269b7bb931ee4c-00
Version: 0.9.0 (0.9.8121.26944)

[2022-03-30 06:40] danieleperilli commented on #251
Thanks for reporting this. I'm closing this issue as a duplicate of #213.

[2022-03-30 06:40] #251 closed

[2022-03-30 06:44] #213 closed

[2022-03-30 06:46] #208 closed

[2022-03-30 06:46] #214 closed

[2022-03-30 06:46] #240 closed

[2022-03-30 06:58] moen-cerix commented on #225
Hi

This is unfortunately both when opening Bravo from Power BI Desktop -> External Tools or lauching the bravo.exe directly.

I still get this error message:

System.DllNotFoundException: Unable to load DLL 'Photino.Native' or one of its dependencies: Det angivne modul blev ikke fundet. (0x8007007E)
   at PhotinoNET.PhotinoWindow.Photino_register_win32(IntPtr hInstance)
   at PhotinoNET.PhotinoWi

[2022-03-30 09:17] danieleperilli opened #254 "Add connection dialog for external database"
### The feature request

Allow users to enter connection string to an external database to not depend on Power BI External Tools in various scenarios.

### Proposed solution

Show a connection dialog when is required by the report.

### Additional context

_No response_

[2022-03-30 09:24] albertospelta commented on #240
Fixed in [0.9.1](https://github.com/sql-bi/Bravo/releases/tag/v0.9.1)

[2022-03-30 09:24] albertospelta commented on #214
Fixed in [0.9.1](https://github.com/sql-bi/Bravo/releases/tag/v0.9.1)

[2022-03-30 09:24] albertospelta commented on #208
Fixed in [0.9.1](https://github.com/sql-bi/Bravo/releases/tag/v0.9.1)

[2022-03-30 09:25] albertospelta commented on #213
Fixed in [0.9.1](https://github.com/sql-bi/Bravo/releases/tag/v0.9.1)

[2022-03-30 09:25] albertospelta commented on #251
Fixed in [0.9.1](https://github.com/sql-bi/Bravo/releases/tag/v0.9.1)

[2022-03-30 09:25] albertospelta commented on #250
Fixed in [0.9.1](https://github.com/sql-bi/Bravo/releases/tag/v0.9.1)

[2022-03-30 09:25] albertospelta commented on #248
Fixed in [0.9.1](https://github.com/sql-bi/Bravo/releases/tag/v0.9.1)

[2022-03-30 09:25] albertospelta commented on #247
Fixed in [0.9.1](https://github.com/sql-bi/Bravo/releases/tag/v0.9.1)

[2022-03-30 09:26] albertospelta commented on #245
Fixed in [0.9.1](https://github.com/sql-bi/Bravo/releases/tag/v0.9.1)

[2022-03-30 09:26] albertospelta commented on #244
Fixed in [0.9.1](https://github.com/sql-bi/Bravo/releases/tag/v0.9.1)

[2022-03-30 09:26] albertospelta commented on #224
Fixed in [0.9.1](https://github.com/sql-bi/Bravo/releases/tag/v0.9.1)

[2022-03-30 09:26] albertospelta commented on #229
Fixed in [0.9.1](https://github.com/sql-bi/Bravo/releases/tag/v0.9.1)

[2022-03-30 09:26] albertospelta commented on #233
Fixed in [0.9.1](https://github.com/sql-bi/Bravo/releases/tag/v0.9.1)

[2022-03-30 09:27] albertospelta commented on #234
Fixed in [0.9.1](https://github.com/sql-bi/Bravo/releases/tag/v0.9.1)

[2022-03-30 09:27] albertospelta commented on #246
Fixed in [0.9.1](https://github.com/sql-bi/Bravo/releases/tag/v0.9.1)

[2022-03-30 09:28] albertospelta commented on #241
Fixed in [0.9.1](https://github.com/sql-bi/Bravo/releases/tag/v0.9.1)

[2022-03-30 09:28] albertospelta commented on #226
Fixed in [0.9.1](https://github.com/sql-bi/Bravo/releases/tag/v0.9.1)

[2022-03-30 09:28] albertospelta commented on #232
Fixed in [0.9.1](https://github.com/sql-bi/Bravo/releases/tag/v0.9.1)

[2022-03-30 09:28] albertospelta commented on #237
Fixed in [0.9.1](https://github.com/sql-bi/Bravo/releases/tag/v0.9.1)

[2022-03-30 09:28] albertospelta commented on #221
Fixed in [0.9.1](https://github.com/sql-bi/Bravo/releases/tag/v0.9.1)

[2022-03-30 09:30] albertospelta commented on #223
Fixed in [0.9.1](https://github.com/sql-bi/Bravo/releases/tag/v0.9.1)

[2022-03-30 09:30] albertospelta commented on #211
Fixed in [0.9.1](https://github.com/sql-bi/Bravo/releases/tag/v0.9.1)

[2022-03-30 09:30] albertospelta commented on #210
Fixed in [0.9.1](https://github.com/sql-bi/Bravo/releases/tag/v0.9.1)

[2022-03-30 10:55] nsdevaraj commented on #225
all those 3 files are available
<img width="619" alt="image" src="https://user-images.githubusercontent.com/274062/160815852-225a84c1-63c9-4f0a-ac6a-6444b1ac1e90.png">

[2022-03-30 10:58] speedmind commented on #249
I faced the same issue when attaching to a report that's connected to live mode to an AAS model if it helps.

[2022-03-30 12:25] albertospelta commented on #227
It seems to be a problem with the internet connection. Are you using Bravo from a corporate network behind a proxy server?
Is the [daxformatter.com](http://www.daxformatter.com:443/) website accessible via a standard web browser?

[2022-03-30 12:25] nsdevaraj commented on #225
It works perfect after installing https://aka.ms/vs/17/release/vc_redist.x64.exe

[2022-03-30 12:29] albertospelta commented on #231
@Anaa97 It appears that the Microsoft Visual C++ runtime libraries are not installed on your system. We will include this component in the MSI setup to install it automatically with the next release, in the meantime you can download and install it manually from here https://aka.ms/vs/17/release/vc_redist.x64.exe

https://github.com/sql-bi/Bravo/issues/225#issuecomment-1083064111

[2022-03-30 14:34] #225 closed

[2022-03-30 15:20] sqlenders opened #256 "Error 200 when opening a live connection to Azure Analysis Service"
### Describe the problem

Error 200: The Power BI Desktop Analysis Services instance does not contain any databases. Try to connect to the report using the Bravo icon in the External Tools of Power BI Desktop.

### Bravo version

0.9.1 (0.9.8124.15471)

### Tabular model

Power BI Desktop, import mode

### Power BI

Version: 2.103.881.0 64-bit (March 2022)

### Steps to reproduce the behavior

1.

[2022-03-30 15:27] #256 closed, assigned to nobody

[2022-03-30 17:59] fjcamachoj opened #257 "Error HTTP/500: Object reference not set to an instance of an object"
Provide a detailed explanation of the issue in English.

---
Error HTTP/500: Internal Server Error.
Object reference not set to an instance of an object.
Trace Id: 00-3c3c73a44baef04ba6853c76d9d06f1f-3562becce53c0d42-00
Version: 0.9.0 (0.9.8121.26944)

[2022-03-30 19:40] albertospelta commented on #257
Hi @fjcamachoj, this issue has been fixed in the latest version which you can download here [0.9.1](https://github.com/sql-bi/Bravo/releases/tag/v0.9.1)

[2022-03-30 19:40] #257 closed

[2022-03-30 19:48] fjcamachoj commented on #257
Yes, I updated and it works perfectly!!! Great tool. Thanks

[2022-03-30 21:14] evnpresson opened #258 "Bug Photino.Native DllNotFoundException"
Hello,

I use an Azure Remote Desktop to run Power BI Desktop. I have installed Bravo on my remote desktop but I receive the following error when I try to run it:

System.DllNotFoundException: Unable to load DLL 'Photino.Native' or one of its dependencies: The specified module could not be found. (0x8007007E)
   at PhotinoNET.PhotinoWindow.Photino_register_win32(IntPtr hInstance)
   at PhotinoNET.

[2022-03-31 03:52] danieleperilli commented on #258
Duplicate of #225

[2022-03-31 03:52] #258 closed

[2022-03-31 06:50] marshal115 opened #259 "Synchronize button becomes "NOT AVAILABLE" due to "Save as" in PBI Desktop"
If saving pbix, say "Demo_A.pbix" to another name, "Demo_B.pbix", while Bravo is running, the Synchronize icon will become "NOT AVAILABLE".  This issue can be resolved by clicking + icon and select the file of newly saved file but I wonder if it's possible not to leave the current window just like how you use DAX Studio, which connects with localhost and doesn't have this issue.

It'd be great if

[2022-03-31 09:30] albertospelta commented on #249
Hi @sakakimf, could you enable the verbose output on the diagnostic panel and look for any exception message ?
Please share the details here, thanks!

![image](https://user-images.githubusercontent.com/1957788/161023665-11413051-5989-468f-9c42-9f236f1d34e4.png)

[2022-03-31 09:35] darwinlloyd commented on #214
Great, thank you

[2022-03-31 10:09] albertospelta commented on #258
Hi @evnpresson, please see my response to https://github.com/sql-bi/Bravo/issues/225#issuecomment-1083064111 as the same applies here.

[2022-03-31 13:20] gdeckler opened #261 "wwwroot\bravo.ico cannot be found"
### Describe the problem

Running Bravo from the Power BI External tools menu crashes with the error that the wwwroot\bravo.ico file cannot be found.

### Bravo version

0.0.0.999

### Tabular model

Power BI Desktop, import mode

### Power BI

March 2022

### Steps to reproduce the behavior

1. Add the .pbitool.json file to the External Tools directory
2. Launch Bravo

### Additional context

_No

[2022-03-31 13:46] gdeckler opened #262 "Format DAX incorrectly states that a measure has an error"
### Describe the problem

Attempting to format a measure fails stating that the measure has an error. However, the measure works fine and does not have an error.

### Bravo version

0.9.8124.15471

### Tabular model

Power BI Desktop, import mode

### Power BI

March 2022

### Steps to reproduce the behavior

1. Select the measure
2. Click the Format Selected button

### Additional context

This i

[2022-03-31 14:42] albertospelta commented on #261
Hi @gdeckler, are you experiencing this error with a version compiled from source code or installed via the .MSI installer?
The error message seems to indicate that the file is missing because the application has not been published but only compiled.

https://docs.microsoft.com/en-us/dotnet/core/tutorials/publishing-with-visual-studio?pivots=dotnet-5-0

![image](https://user-images.githubuserconte

[2022-03-31 14:50] gdeckler commented on #261
Compiled only, will have to see about publishing, didn't see any note about that in Git

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Alberto Spelta ***@***.***>
Sent: Thursday, March 31, 2022 10:42:23 AM
To: sql-bi/Bravo ***@***.***>
Cc: Deckler, Gregory ***@***.***>; Mention ***@***.***>
Subject: Re: [sql-bi/Bravo] wwwroot\bravo.ico cannot be found (Issu

[2022-03-31 14:53] albertospelta commented on #262
Thanks for reporting this! I'm closing this issue as a duplicate of https://github.com/sql-bi/Bravo/issues/217.

[2022-03-31 14:53] #262 closed

[2022-03-31 15:00] albertospelta commented on #261
Publishing using the parameters shown in the image above should resolve the error.
If the issue is not solved, please feel free to reopen the question.

[2022-03-31 15:00] #261 closed

[2022-03-31 15:04] Hikmer opened #263 "Please provide support for sovereign clouds"
### The feature request

Just checked out your tool but the login seems to be fixed for only the Power BI commercial cloud.  Would be nice if you could allow connectivity to the Microsoft government clouds. https://docs.microsoft.com/en-us/power-bi/enterprise/service-govus-overview#sign-in-to-power-bi-for-us-government

### Proposed solution

Allow users to select their endpoint or use API to dete

[2022-04-01 07:22] albertospelta opened #265 "Incorrect __FirstFiscalMonth on date template"
### Describe the problem

The variable `__FirstFiscalMonth` is not zero-based index.
See the attached image.

### Bravo version

0.9.1

### Tabular model

Power BI Desktop, import mode

### Power BI

Power BI Desktop

### Steps to reproduce the behavior

_No response_

### Additional context

[Demo_Bravo_start.zip](https://github.com/sql-bi/Bravo/files/8395548/Demo_Bravo_start.zip)

### Screenshot

[2022-04-01 08:48] vgeldbr opened #266 "Manage Dates: 544 Calendar"
I cannot get the 544 calendar configuration to work. Our financial calendar:

1. 544 week structure
2. Year runs July to June
3. Week ends on Friday
4. Fiscal year starts on Saturday
5. We name our fiscal year by the calendar year of the last date of the fiscal year (ie. July 2021 to June 2022 = Fiscal Year 2022)

When I try to configure this in Bravo the resulting Date table does not match.
1. Ca

[2022-04-01 12:47] dpesante opened #268 "Export fails if table has a calculated column with an error in its expression"
### Describe the problem

Error HTTP/500: Internal Server Error.
The query referenced calculated column 'Approval History Cases'[Workflow Case Sub Category FOR Request Export] which does not hold any data because there is an error in its expression.

### Bravo version

0.9.1 (0.9.8124.15471)

### Tabular model

Power BI Desktop, import mode

### Power BI

Desktop - March 2022

### Steps to reprodu

[2022-04-01 14:35] LostInTheFlood opened #270 "Calendar template Monthly - One year off"
I might be doing something wrong but the "Manage Date" generates a result that is one year plus. 2021 = 2022 etc.

![2022-04-01 16_32_48-Test - Power BI Desktop](https://user-images.githubusercontent.com/61800011/161284699-fbf4ce32-70f0-45ce-ad0e-d090f40fa01a.png)

[2022-04-01 14:36] #219 closed

[2022-04-01 14:59] albertospelta commented on #270
Can you provide more detail on which 'Manage Date' template and settings have been used ?
A sample PBIX reproducing the problem would also be very useful.
Thanks!

[2022-04-01 15:56] lifeindarkside opened #271 "Show non used columns and measures in visuals"
### The feature request

Show non used columns and measures in visuals.

After get this information, recomend to delete this columns.

You can see this solution [https://www.thebiccountant.com/2021/06/27/power-bi-cleaner-gen2-is-here/](https://www.thebiccountant.com/2021/06/27/power-bi-cleaner-gen2-is-here/)

### Proposed solution

This help to clean non used data and help update reports faster

#

[2022-04-01 16:34] LostInTheFlood commented on #270
Hi
In the pptx I have highlighted the "settings" I did. The zip contains my sample pbix.
I'm probably just doing something incorrectly, but it's good to know what.

have a nice weekend.

[Bravo for Power BI.pptx](https://github.com/sql-bi/Bravo/files/8399463/Bravo.for.Power.BI.pptx)
[Test.zip](https://github.com/sql-bi/Bravo/files/8399470/Test.zip)

[2022-04-01 19:16] RHAWKEOMI commented on #212
@marcosqlbi
I just stumbled across the same thing, I almost deleted a column in my dataset that is only included in a visual in the same PBIX file and then luckily remember to double check just before.

I suggest to rename the feature "Unreferenced in Measures" for the time being to not confuse users.

It would be REALLY nice to be able to get a list of all the columns that are not used in the vis

[2022-04-01 19:55] #259 closed

[2022-04-02 01:32] rajrao opened #273 "Fiscal Year is not correctly calculated"
### Describe the problem

Calendar Template: Standard

First Month of the Year: April or May (tried May, because of the 0 based error, which causes __FirstFiscalMonth to be set 4 only when you select May)

First Day of the Week: Sunday

Original calculation
[code]
for fiscal year starting in April
4/1/2021 FY = 2021
3/31/2022 FY = 2021
4/1/2022 FY = 2022

Outputs:
![image](https://user-images.gith

[2022-04-02 07:00] #265 closed

[2022-04-02 07:36] danieleperilli opened #275 "Update notifications must be translated"
### Describe the problem

When a new version of Bravo is available, a system notification (toast) is displayed in English, regardless of the UI language.
It should match the UI language.

### Bravo version

0.9.1

### Tabular model

Power BI Desktop, import mode

### Power BI

Any

### Steps to reproduce the behavior

_No response_

### Additional context

_No response_

### Screenshots

_No respo

[2022-04-02 10:37] #209 closed

[2022-04-02 10:38] #230 closed

[2022-04-04 09:21] albertospelta commented on #238
Hi @jgojiz,
a copy button of the DAX expression is already available in the context menu of the two panels.

![image](https://user-images.githubusercontent.com/1957788/161513826-1fc4eae9-4d79-4569-b703-08a260e29ef7.png)

We do not have plans to implement an editing function in Bravo, if you need such advanced options you should use other tools such as Tabular Editor.

[2022-04-04 09:21] #238 closed

[2022-04-05 08:10] jafernandezpuga opened #282 "Minimum requirements for the installation of Bravo"
### The feature request

Hello everyone,
Is it a minimum requirement to have Windows 10 to install Bravo for Power BI?
I am currently installing it on Windows 8.1 and I am getting the following error:

[code]

I have installed the Microsoft Visual C++ runtime libraries and I am getting the following error:

`The GetdpiforWindow procedure entry point cannot be found in the dynamic link library C:\P

[2022-04-05 08:55] albertospelta commented on #282
Hi @jafernandezpuga,
The minimum supported client version is Windows 10 version 1809 build 10.0.17763 ( Windows 10 October 2018 Update )
We will add this information to the project documentation and consider whether to add a warning during installation as well.

[2022-04-05 11:03] daryl-lynch-bzy opened #283 "Disable Telemetry at Installation not working"
### Describe the problem

Hi, During the installation of the Bravo BI tool (0.9.1 using msi), I deselected the Telemetry options.  However when I saw the "Diagnostics" option the Telemetry button was active.

### Bravo version

0.9.1

### Tabular model

Power BI Desktop, import mode

### Power BI

Power BI Desktop version March 2022

### Steps to reproduce the behavior

_No response_

### Addition

[2022-04-05 12:19] #235 closed

[2022-04-05 13:45] MarkL76 opened #286 "Reported table size query"
### Describe the problem

We have a large datamodel (60+ tables), but I was surprised to see that two date tables are being reported as the 2nd and 3rd largest tables with a size of 32MB and 23MB, yet they only contain 1,826 rows (5 years)?

I launch Bravo from External Tools immediately after opening my pbix.  I Then select ‘Group by Table’ and then clicked on the ‘Smaller columns’ option to incl

[2022-04-05 16:27] albertospelta commented on #225
Fixed in [0.9.2](https://github.com/sql-bi/Bravo/releases/tag/v0.9.2)

[2022-04-05 16:27] albertospelta commented on #219
Fixed in [0.9.2](https://github.com/sql-bi/Bravo/releases/tag/v0.9.2)

[2022-04-05 16:27] albertospelta commented on #259
Fixed in [0.9.2](https://github.com/sql-bi/Bravo/releases/tag/v0.9.2)

[2022-04-05 16:27] albertospelta commented on #265
Fixed in [0.9.2](https://github.com/sql-bi/Bravo/releases/tag/v0.9.2)

[2022-04-05 16:28] albertospelta commented on #209
Fixed in [0.9.2](https://github.com/sql-bi/Bravo/releases/tag/v0.9.2)

[2022-04-05 16:31] albertospelta commented on #235
This should be fixed with version [0.9.2](https://github.com/sql-bi/Bravo/releases/tag/v0.9.2), feel free to reopen if the issue still exists.

[2022-04-05 16:32] albertospelta commented on #256
Hi @sqlenders, this issue should be fixed with version [0.9.2](https://github.com/sql-bi/Bravo/releases/tag/v0.9.2)

[2022-04-05 16:48] albertospelta commented on #216
This should be fixed with version [0.9.2](https://github.com/sql-bi/Bravo/releases/tag/v0.9.2), feel free to reopen if the issue still exists.

[2022-04-05 16:48] #216 closed

[2022-04-05 17:22] albertospelta commented on #283
The option available during installation sets the default value to be used when starting the application for the first time - when the application has never been installed before. If telemetry is disabled during installation but subsequently re-enabled via the diagnostic options, then this latter setting wins and will be applied.

All application settings are stored in this JSON file `%LOCALAPPDAT

[2022-04-05 17:58] daryl-lynch-bzy opened #287 "Uninstall Does not remove Local files"
### Describe the problem

Hi, I tried to remove the Bravo BI app using the Uninstall feature in the MSI package.  After the installation, the Local App data folder and files were not removed.

### Bravo version

0.9.1

### Tabular model

Power BI Desktop, import mode

### Power BI

Power BI Desktop version March 2022

### Steps to reproduce the behavior

_No response_

### Additional context

_No

[2022-04-05 20:49] albertospelta opened #289 "Error updating a formatted KPI expression"
### Describe the problem

An error occurs when updating a formatted KPI expression.

### Bravo version

All versions

### Tabular model

Power BI Desktop, import mode

### Power BI

All versions

### Steps to reproduce the behavior

1. Connect to a model that contains at least one KPI
2. Open Format Dax
3. Select a measure representing a KPI (e.g. `_MYMEASURENAME Goal` )
4. Click 'Format Selected'

[2022-04-06 07:48] daryl-lynch-bzy commented on #283
@albertospelta - "but subsequently re-enabled via the diagnostic options" - sorry are you suggesting that I changed the setting after the installation?  I am pretty sure I did not re-enable the

[2022-04-06 08:12] albertospelta commented on #283
@daryl-lynch-bzy,  thanks for your feedback! This could be a problem with the installer but unfortunately I cannot reproduce in my environment. Could you please provide the current values of these two settings?
- `telemetryEnabled` property in user settings file `%LOCALAPPDATA%\Bravo\usersettings.json`
- `applicationTelemetryEnabled` key in registry `HKEY_LOCAL_MACHINE\SOFTWARE\SQLBI\Bravo\applica

[2022-04-06 09:28] daryl-lynch-bzy commented on #283
@albertospelta - It looks like the Reg is missing False value after the Install, so when the User opens Bravo for the first time, the setting forced by the App install is ignored.

[2022-04-06 10:37] marcosqlbi commented on #286
I'm not able to replicate the issue.
Please, can you share a PBIX file that can reproduce the problem?

[2022-04-06 11:38] albertospelta commented on #283
Thanks for reporting and for the detailed repro steps! I located the bug and the fix will be available with the next release.

[2022-04-06 11:53] #283 closed

[2022-04-06 11:54] MateuszHydzik opened #292 "Cannot connect Bravo to Power BI"
### Describe the problem

While connecting to Power BI Service i receive a message : "The XMLA endpoint is not supported for this dataset.".

While trying to open a report from my computer, Bravo opens the Power BI and the report but still shows the message "Waiting for file opening in Power BI Desktop...".
![image](https://user-images.githubusercontent.com/58403644/161968711-1c099f41-452f-4687-9d

[2022-04-06 12:11] albertospelta commented on #292
@MateuszHydzik, is your report connected to a Power BI Dataset or does it use a local model (import mode)?
Can you share a PBIX file that can reproduce the problem?
Thanks!

[2022-04-06 13:07] MateuszHydzik commented on #292
It uses a local model, but a report connected to a Power BI Dataset also does not respond.

[2022-04-06 14:30] MateuszHydzik commented on #292
If i use the export data function they message does not appear.
I guess i do not have a Power BI Premium plan...

Thank you in advance @albertospelta  !!

[2022-04-06 14:35] #292 closed

[2022-04-06 17:53] MarkL76 commented on #286
Hi Marco, unfortunately I cannot easily share due to content.  I would be happy to do a quick Teams / screenshare  to demonstrate through.

As a test I have deleted the 'Order Dates' table and the file size only dropped 45KB, whereas Bravo is reporting this table as 32.75MB (uncompressed?).

[2022-04-06 19:43] F-Bastiat opened #295 "CSV encoding when exporting data is reversed"
### Describe the problem

When exporting tables as csv, UTF-8 will actually encode the file as UTF-16 and vice versa.

### Bravo version

0.9.8130.24911

### Tabular model

Power BI Desktop, import mode

### Power BI

Power BI Desktop Version: 2.103.881.0 64-bit (March 2022)

### Steps to reproduce the behavior

1. Go to "Export Data"
2. Choose any table from the model or all of them
3. Export as

[2022-04-07 07:46] #295 closed

[2022-04-07 17:08] joe-smith-powerbi opened #297 "HTTP/500 Error when opening Active Report on Power BI"
Provide a detailed explanation of the issue in English.

Opened Bravo after installing. Selected Open, then my Active Report in Power BI. Received HTTP/500 error.
PBIX is for large (> 2GB) dataset and report, with no known issues.

---
Error HTTP/500: Internal Server Error.
Object reference not set to an instance of an object.
Trace Id: 00-7a07bf0fc937dc45ace3d99cead7d24b-9a8eb0aa182d0d41-00
Versi

[2022-04-07 17:31] albertospelta commented on #297
Duplicate of #213

Hi @joe-smith-powerbi, thanks for reporting! This issue has already been fixed, you can take the latest version [0.9.2 here](https://github.com/sql-bi/Bravo/releases/tag/v0.9.2).

[2022-04-07 18:09] joe-smith-powerbi commented on #297
thanks @albertospelta! I was unaware of the update; https://www.sqlbi.com/tools/bravo-for-power-bi/ still lists the latest as v0.9.0, so I assumed it was up-to-date; I also received no notification of a newer version when I opened Bravo. I have since updated, and verified issue is resolved.

[2022-04-08 09:44] ThysvdW commented on #239
Experienced the same issue. Was due to Measures being located in a seperate "# Measures" table. Thought it could relate to the "Measures" name, and renamed the table to something else, but the error still persist. When I moved the measures to the corresponding fact tables, I was able to create the date table without issue.

[2022-04-08 12:35] albertospelta commented on #239
Hi @ThysvdW, is table "# Measures" a calculated table?

[2022-04-08 14:09] ThysvdW commented on #239
Yes, it is a calculated table. The error happens when you open the Date tab. Haven't tried setting the Time Intelligence function off. My scenario is that the date table was already generated by Bravo and after that - we created some measures, and then wanted to add the Time Intelligence to the created measures in the calculated table.

[2022-04-08 14:29] albertospelta commented on #297
HI @joe-smith-powerbi, I'm reopening this issue just to check that the update notification works correctly after updating to the latest version. Can you please test if you receive an update notification after changing the update channel from "Stable" to "Dev"? Restarting the application should also show a notification in Windows Action Center - right of the taskbar.
Thanks!

![image](https://user-

[2022-04-08 14:50] joe-smith-powerbi commented on #297
HI @albertospelta, thanks for looking into it more! Test results:
- Verified: dev channel shows new version update as above screenshot
  - changelog link redirects as expected
  - did not test download link
- Verified: switch to dev channel, close app, open app; received WAC notification:
![image](https://user-images.githubusercontent.com/103209268/162458992-b163801d-0cc6-46b4-b175-70a5fa5e7913.pn

[2022-04-08 15:35] albertospelta commented on #297
This is the proper behaviour

Thanks @joe-smith-powerbi !

[2022-04-08 15:35] #297 closed

[2022-04-08 16:07] #282 closed

[2022-04-08 16:17] #239 closed

[2022-04-11 21:09] marcosqlbi commented on #262
This should be fixed now in DAX Formatter - because it depended on the service, there is no need to update Bravo.
Thanks for reporting it!

[2022-04-11 21:10] marcosqlbi commented on #217
Please, try again now - the problem was likely caused by multiple lines in the same literal strings, a syntax that was not supported by DAX Formatter because it has been introduced recently. It should be working now, otherwise please post the DAX code that doesn't work, thanks!

[2022-04-11 21:35] marcosqlbi commented on #270
Bug fixed in DaxTemplate library, must be ported to Bravo.

[2022-04-12 07:14] #270 closed

[2022-04-12 07:40] albertospelta commented on #273
Hi @rajrao, sorry for the late reply. We believe this issue is a duplicated of #265 and should already be fixed in version [0.9.2](https://github.com/sql-bi/Bravo/releases/tag/v0.9.2).
Please let us know if the problem still exists with the latest version, thanks!

[2022-04-12 14:24] #289 closed

[2022-04-12 15:42] albertospelta commented on #222
Thanks for filing the issue @djouallah. I'm closing this issue temporarily and moving to the [Enhancements](https://github.com/sql-bi/Bravo/projects/2) board.

[2022-04-12 15:45] albertospelta commented on #271
Thanks for filing the issue @lifeindarkside . I'm closing this issue temporarily and moving to the [Enhancements](https://github.com/sql-bi/Bravo/projects/2) board.

[2022-04-12 15:48] albertospelta commented on #179
Reported to the PBI product team. See https://github.com/TabularEditor/TabularEditor/issues/977

[2022-04-12 17:12] daryl-lynch-bzy commented on #286
@MarkL76 , @albertospelta , @marcosqlbi - Would it be useful to attach the Vertipaq Analyser export from Dax Studio to compare against the results that you are seeing in Bravo.   It does make sense that the additional Calculated Columns with a "Y/N" value could take up that amount of space.  The single character string will be converted to HASH.  Maybe replacing Y/N will True/False will replace th

[2022-04-12 17:54] marcosqlbi commented on #286
@daryl-lynch-bzy Both Bravo and DAX Studio (and Tabular Editor) share the same VertiPaq Analyzer library. Indeed, you can export the same VPAX file.
Bravo provides a simplified view - you must use DAX Studio to get more details. This is by design and we do not want to bring all the features of DAX Studio in Bravo, we want to keep it (Bravo) simple.

[2022-04-12 19:16] #268 closed

[2022-04-13 11:10] jamtegi opened #319 "Dataset - Error 200: Unspecified connection"
Provide a detailed explanation of the issue in English.

I've got a report connected to a dataset and Bravo sends this error when trying to connect to the file to provide information. When I try to connect to any file in my company's service I got the same problem.

---
Error 200: Unspecified connection.
Version: 0.9.0 (0.9.8121.26944)

[2022-04-13 11:26] albertospelta commented on #319
Hi @jamtegi, this issue is probably a duplicate of https://github.com/sql-bi/Bravo/issues/216 and should be fixed in version [0.9.2](https://github.com/sql-bi/Bravo/releases/tag/v0.9.2)
Could you update Bravo to the latest version and check to see if this resolves the issue?

[2022-04-14 11:19] jamtegi commented on #319
I’ll tell admin to update. Thank you

El El mié, 13 abr 2022 a las 13:27, Alberto Spelta ***@***.***>
escribió:

--
 Juanan Amunategui Tejada
 688619562
 ***@***.***            |

[2022-04-14 13:09] albertospelta commented on #283
Fixed in [0.9.3](https://github.com/sql-bi/Bravo/releases/tag/v0.9.3)

[2022-04-14 13:10] albertospelta commented on #282
Added in [0.9.3](https://github.com/sql-bi/Bravo/releases/tag/v0.9.3)

[2022-04-14 13:10] albertospelta commented on #270
Fixed in [0.9.3](https://github.com/sql-bi/Bravo/releases/tag/v0.9.3)

[2022-04-14 13:10] albertospelta commented on #268
Fixed in [0.9.3](https://github.com/sql-bi/Bravo/releases/tag/v0.9.3)

[2022-04-14 13:10] albertospelta commented on #249
Fixed in [0.9.3](https://github.com/sql-bi/Bravo/releases/tag/v0.9.3)

[2022-04-14 13:10] albertospelta commented on #239
Fixed in [0.9.3](https://github.com/sql-bi/Bravo/releases/tag/v0.9.3)

[2022-04-14 16:37] vgeldbr commented on #266
I installed latest, refreshed date table but I still see the incorrect (for us) Fiscal Year. It uses the year of the start date not the year of the end date in the fiscal year range..

[2022-04-14 16:41] vgeldbr commented on #266
Actually @albertospelta , if I set Fist Day of the Fiscal Year to "Last day of the Year" then it seems to work. I guess it's not clear to me what the exact purpose of this setting is. It seems to fix this issue to use it but I'm not clear if it might have other purpose. The guidance text is not clear to me.

[2022-04-14 17:35] Luc-Appelmans opened #324 "English - Belgium not supported as culture identifier"
### Describe the problem

Error HTTP/500: Internal Server Error.
Culture is not supported. (Parameter 'culture')
4096 (0x1000) is an invalid culture identifier.

### Bravo version

0.9.3 (0.9.8139.22766)

### Tabular model

Power BI Desktop, import mode

### Power BI

Power BI Desktop version March 2022

### Steps to reproduce the behavior

1. Go to: Windows settings => Language & region
2. Change

[2022-04-14 17:59] AndreJaarconsult commented on #217
Working perfectly now
ty

[2022-04-14 17:59] #217 closed

[2022-04-15 09:09] bdarbonneau opened #325 "Allow use of custom calendar template"
### The feature request

Let users customize the calendar template or chose from pre-defined templates prepared by the community or local champions.

The built-in calendar templates may not fulfill everyone requirements and may not match existing local standards in a company.
It would be great if users could choose from different 'company-curated' templates prepared by champions.

### Proposed sol

[2022-04-15 11:46] albertospelta commented on #324
I think we cannot solve this error because it is not raised by the application but by the Microsoft libraries that Bravo uses to communicate with the Power BI database server (Analysis Services). The culture "English (Belgium)" is identified by the LCID value 4096 which is [LOCAL_CUSTOM_UNSPECIFIED](https://docs.microsoft.com/en-us/windows/win32/intl/locale-custom-constants) and it is assigned to

[2022-04-15 14:29] Luc-Appelmans commented on #324
Hi Alberto,

Thanks for the fast reply.
I have changed the Windows display language to English (United States). But that did not remove the error.
The error only occurs when I use as Regional format English (Belgium), see print screen.
***@***.***

If I use as Regional format Dutch (Belgium) or French (Belgium), everything works fine (even in an empty file, see further).

I just installed Bravo ye

[2022-04-15 14:41] chairman2s opened #326 "Calendar table in norwegian language"
### Describe the problem

When I select Norwegian (Norway) under Regional Format I get strange names for the weekdays and months but if I select Other... and then I correct `no_NO` under custom format to just `no` then the weekdays and months appear correctly.

### Bravo version

0.9.3

### Tabular model

Power BI Desktop, import mode

### Power BI

Power BI Desktrop Version: 2.102.845.0 64-bit (f

[2022-04-15 14:54] marcosqlbi commented on #286
I created a blog post to describe this behavior.
It is not an issue of Bravo, it is the way Power BI works. More details in this blog post:
https://www.sqlbi.com/blog/marco/2022/04/15/dictionary-size-in-tabular-models-reported-by-vertipaq-analyzer/

[2022-04-15 14:54] #286 closed

[2022-04-15 16:50] marcosqlbi commented on #325
We want to enable the ability to provide a template in a JSON file. Before that, we should complete and publish the documentation to prepare them.
In order to provide predefined templates for the company, we are exploring ideas, like using registry keys or other information that could be deployed within the company by system administrators. Or, as a minimum, to preserve the templates imported so t

[2022-04-15 18:13] bdarbonneau commented on #325
Thanks for the quick reply. Deploying GPO rules is usually a long and rigid process in companies. Downloading a JSON file
from the company wiki and saving it to a predefined folder, a bit like Power BI custom connectors, might be easier. Or a first step.
Thanks for this great tool.

[2022-04-15 18:49] kw6575 opened #327 "4-4-5 Calendar"
### Describe the problem

We always start the fiscal year on Jan 1 and end the year on Dec 31 with a 4-4-5 calendar beginning on Sundays.  I can not seem to get the correct result in Manage Dates. For example, for FY 2022, the program is putting Jan 1, 2022 into FY 2021 as it is a Saturday.

I understand the logic is complicated, so maybe it is not feasible but I know a lot of Manufacturers that u

[2022-04-16 13:05] albertospelta commented on #326
It's a bug, `no_NO` is a deprecated alias of `nb_NO` (Norwegian - Bokmål).
Thanks for reporting!

[2022-04-16 13:16] marcosqlbi commented on #327
Do you have a link to more documentation about this type of Calendar?
As far as I know, if it starts on Sunday, it cannot start on the same day every year.
Some examples and additional documentation would be helpful to evaluate possible implementations.

[2022-04-16 13:18] #326 closed

[2022-04-16 13:40] albertospelta commented on #212
I'm closing this issue temporarily and moving to the [Enhancements](https://github.com/sql-bi/Bravo/projects/2) board.

Linking a similar issue https://github.com/sql-bi/Bravo/issues/271

[2022-04-16 13:43] albertospelta commented on #325
I'm closing this issue temporarily and moving to the [Enhancements](https://github.com/sql-bi/Bravo/projects/2) board.

[2022-04-16 18:01] Adriaanjac opened #330 "Error 800: a table of multiple values supplied single value expected"
### Describe the problem

Hi there,

I cannot seem to generate a date table from my model this side.

I get the following error:

"Error 800: An Error occurred while executing DAX Template Engine. Query (581, 43) A table of multiple values was supplied where a single value was expected."

Does anyone know what can be the issue in my model?

### Bravo version

Version 0.9.8139.22766

### Tabular mo

[2022-04-16 18:32] kw6575 commented on #327
Thanks,

I don't have documentation, just have used this calendar at last 4 public companies I have worked at.

The year always starts on Jan 1, regardless of the day and ends on Dec 31 regardless of the day.  The first and last week of the year needs to be adjusted to get back in the cycle of starting weeks on Sunday.

For example 2021

Jan 1 was a Friday which was the start of the 1st week and r

[2022-04-17 07:42] mthierba opened #331 "Spelling: "Framework-dependent""
### Describe the problem

The releases page currently offers various downloads as "framework-dependant". Those should be labelled "framework-**dependent**", see also <https://docs.microsoft.com/dotnet/core/deploying/>. A _dependant_ (noun) is a person relying on somebody else, _dependent_ is the adjective.

### Bravo version

0.9.3

### Tabular model

Power BI Dataset

### Power BI

N/A

### Steps

[2022-04-18 16:09] KMELNICH opened #333 "MTD TotalSales"
### Describe the problem

These measures generate the same amounts
The 1st is the sum measure I created before introducing Bravo
The 2nd is the measure created by Bravo

1. TotalSales = SUM('Invoice Detail'[Sale Price])
2. MTD TotalSales =
IF (
    [_ShowValueForDates],
    CALCULATE (
        [TotalSales],
        DATESMTD ( 'Date'[Date] )
    )
)

I added a DayofMonth column to the date table an

[2022-04-18 16:10] KMELNICH commented on #333
I added a DayofMonth column to the date table and filtered to <= DAY(TODAY) to get what I would expect.

This is a very helpful tool for getting started and taking time intelligence to the next level, thank you!

[2022-04-18 18:21] v-vivogt opened #336 "Error 800: the syntax for 's' is incorrect"
### Describe the problem

I'm trying to set up the calendar template using Bravo and keep receiving the Error 800 message. There isn't any direction on how to resolve this error.

### Bravo version

0.9.8139.22766

### Tabular model

Power BI Desktop, import mode

### Power BI

2.100.1401.0 64-bit (December 2021)

### Steps to reproduce the behavior

1. Open Power BI desktop file
2. Click external

[2022-04-19 07:54] albertospelta commented on #324
Hi @Luc-Appelmans, sorry but I'm not able to see any attachments, this is probably because replying by mail seems to get rid of any attachments. I think you have to reply through GitHub if you want to add a file to the thread. Thanks.

[2022-04-19 15:26] #287 closed

[2022-04-19 17:29] marahwa7d opened #341 "Error HTTP/418: Operation aborted."
### Describe the problem

Error HTTP/418: Operation aborted.

### Bravo version

0.9.3 (0.9.8139.22766)

### Tabular model

Power BI Desktop, import mode

### Power BI

ower BI Desktop version

### Steps to reproduce the behavior

_No response_

### Additional context

_No response_

### Screenshots

_No response_

### Anything else ?

_No response_

[2022-04-20 07:16] albertospelta commented on #330
Hi @Adriaanjac, thanks for reporting! This is probably a bug and not an issue in your model.
Could you share a minimal .pbix file that reproduces this behavior? Thanks!

[2022-04-20 10:12] marcosqlbi commented on #327
I have to work on it, it has several consequences.
First, the code that generates the week/quarter/year attributes does not support this case, and should be completely reviewed. However, a completely different template could be a better solution, because it's a very specific use case.
Second, the week no longer has 7 days every week, which creates challenges in comparison algorithms. If the curren

[2022-04-20 12:51] albertospelta commented on #327
I'm closing this issue temporarily and moving to the [Enhancements](https://github.com/sql-bi/Bravo/projects/2) board to track it for a future review but feel free to continue discussing it here.

[2022-04-20 14:15] kw6575 commented on #327
Thanks, appreciate you looking into.

From: Alberto Spelta ***@***.***>
Sent: Wednesday, April 20, 2022 7:51 AM
To: sql-bi/Bravo ***@***.***>
Cc: kw6575 ***@***.***>; Author ***@***.***>
Subject: Re: [sql-bi/Bravo] 4-4-5 Calendar (Issue #327)

I'm closing this issue temporarily and moving to the Enhancements<https://github.com/sql-bi/Bravo/projects/2> board to track it for a future review but feel

[2022-04-20 17:19] lifeindarkside opened #344 "Add Russian holidays in date template"
### The feature request

Add Ru country holidays.
I found xml type calendar in http://xmlcalendar.ru/
XML have information about holidays in Ru country.
Holidays can be changed (or add) in xml file of this year.
Non work days is Saturday and Sunday (by default).
But some days may be working days.
Example in xml
`<?xml version="1.0" encoding="UTF-8"?>
<calendar year="2022" lang="ru" date="2021.09.1

[2022-04-20 20:08] albertospelta commented on #341
Hi @marahwa7d, I can't reproduce in my environment.
Could you please provide more details or steps to reproduce the issue? Thanks

[2022-04-21 01:57] aghonaim opened #346 "Time Intelligence Selection"
### The feature request

The ability to select the time intelligence new measures at both the group (e.g. Growth .., To-date .. etc.) or at the individual measure within each category (e.g. MOM .. YTD .., MAT.. etc.)

### Proposed solution

Add a check box to select/deselect the entire measure group or individual measures within the group.

### Additional context

It would be great if we have the

[2022-04-21 02:12] aghonaim opened #347 "Holidays Table"
### The feature request

Since the "Holidays" table has a one to one relationship with the "Date" table, so it can be eliminated and  and add the "Holiday Name" column to the "Date" table. If it can't be eliminated  (for whatever reason), I suggest to add the relationship automatically between the "Date.Date" and "Holidays.Holiday Date" instead of adding it manually as it is now.

### Proposed sol

[2022-04-21 02:24] aghonaim opened #348 "Add quarter in the Calendar hierarchy"
### The feature request

Add the quarter as an option to the Calendar hierarchy in the Date table.

### Proposed solution

Add optional check box to include/exclude the quarter to the Calendar hierarchy in the Date table.

### Additional context

_No response_

[2022-04-21 11:16] Adriaanjac commented on #330
Hi @albertospelta , I managed to sort out the issue. When I changed the Regional Format to English (United Kingdom) then it worked fine.

[2022-04-21 11:37] DirkStorms opened #349 "An object with name '%' does not exist in the collection. (Parameter 'name')"
### Describe the problem

Error HTTP/500: Internal Server Error.
 *** PLEASE REPORT THIS ISSUE ON GITHUB *** An object with name 'DateKey' does not exist in the collection. (Parameter 'name')

### Bravo version

0.9.3 (0.9.8139.22766)

### Tabular model

Power BI Desktop, import mode

### Power BI

Power Bi Desktop Version: 2.104.702.0 64-bit (April 2022)

### Steps to reproduce the behavior

_No

[2022-04-21 12:35] albertospelta commented on #330
Thanks for this feedback @Adriaanjac!
- what is the active display language of your operating system ?
- What was the original regional format before you changed it to English (United Kingdom)?
- could you share a minimal .pbix file that reproduces this ?

[2022-04-21 12:41] albertospelta commented on #349
Hi @DirkStorms, thanks for filing the issue!
We are aware of this error but we need a minimum .pbix file that reproduces this behaviour. Can you provide this?

[2022-04-21 15:18] albertospelta commented on #349
I am reopening this issue, we will close it as soon as the fix is released.

[2022-04-21 21:23] Luc-Appelmans commented on #324
Hi Alberto,

Sorry for my late reply. Here is the file.
[Bravo Test.zip](https://github.com/sql-bi/Bravo/files/8535137/Bravo.Test.zip)
Though, as I mentioned, I only have the issue with an empty file.

Luc

[2022-04-22 02:34] emirtut opened #352 "DAX format for calculated tables"
### The feature request

BRAVO is currenty support DAX format for measures only.

### Proposed solution

New features for DAX format should include analysis for tables (created with DAX) beside measures.
After analysis user should have option to choose DAX format for tables, not just measures only.

### Additional context

_No response_

[2022-04-22 09:48] albertospelta commented on #324
Thanks @Luc-Appelmans! Finally managed to solve the error and the fix will be available in next release.

[2022-04-23 07:34] marcosqlbi commented on #347
The current implementation of the template does not create a one-to-one relationship between Date and Holiday.
The Holidays table is used to decouple the stages where we create the holidays starting from the HolidaysDefinition table. It would be extremely complex to implement such a feature in the DAX code that generates the Date table, and the code would be hard to maintain. One of the goals is t

[2022-04-23 07:40] marcosqlbi commented on #346
I need a clarification - do you want:

1. The ability to select the individual Time Intelligence functions to apply to all the selected measures
2. The ability to select groups of Time Intelligence functions to apply to all the selected measures
3. The ability to select groups of measures based on folders? (It is already possible by table)

Thanks!

[2022-04-23 07:44] marcosqlbi commented on #348
We want to balance the number of options available with the ability to customize the Calendar templates. Providing too many options would result in a harder-to-use UI.
What if we create more hierarchies by default and you can just delete those you don't want?

[2022-04-24 09:44] marcosqlbi commented on #352
We will consider adding DAX Formatter for calculated columns and calculated tables in a future version of Bravo.
It is not in scope for 1.0.

[2022-04-24 09:48] marcosqlbi commented on #333
I do not understand whether you are reporting an issue or not.
If you are reporting an issue, please submit an example where we can reproduce the problem. The measures works as expected in our tests.

[2022-04-24 10:12] lifeindarkside opened #355 "Calendar template layout error"
### Describe the problem

error in view element
![image](https://user-images.githubusercontent.com/66727826/164971344-c9ddeca7-ee16-45a5-86d5-36099a8a7cd6.png)

### Bravo version

0.9.8.8139.22766

### Tabular model

Power BI Desktop, import mode

### Power BI

Power BI Desktop version March 2022

### Steps to reproduce the behavior

1. connect to model
2. go to Manage dates
3. in Calendar tamplet

[2022-04-24 10:35] marcosqlbi commented on #352
Closing as a duplicate of #222 - please follow that issue for updates.

[2022-04-24 10:35] #352 closed

[2022-04-24 11:20] #347 closed

[2022-04-24 11:24] marcosqlbi commented on #344
We have a different system that generates the holidays starting from a configuration file. I adapted the definitions in https://github.com/commenthol/date-holidays/blob/master/data/countries/RU.yaml to our format, but I noticed that your example has additional dates that are holidays without any description. Are those holidays defined year-by-year, or is there some rule that can be used to generat

[2022-04-24 12:55] albertospelta commented on #355
HI @lifeindarkside! It seems that your PR has fixed this issue 👍
This is a screenshot from the internal build that contains your changes.
![image](https://user-images.githubusercontent.com/1957788/164977345-52f34368-93de-4f05-b6fb-ef2219275c8e.png)

[2022-04-24 12:55] #355 closed

[2022-04-24 14:05] lifeindarkside commented on #344
Unfortunately, holidays (non-working days and weekends) are set by the government.

[2022-04-24 15:45] #331 closed

[2022-04-24 16:05] #336 closed

[2022-04-24 16:52] marcosqlbi commented on #344
The best we can do with the current version is to generate holidays automatically based on the configuration we have now.
I move this in enhancements for future versions, but we will not implement a similar feature in v1.
For countries that have different holidays every year that cannot be evaluated in advance, we can only use additional tables that have to be maintained manually. We will think at

[2022-04-24 16:54] marcosqlbi commented on #266
We should improve the documentation for this setting.

[2022-04-24 17:46] moussa16035 commented on #244
***@***.***
Harlan Donato
President at Contoso, Ltd.

Phone: 462-835-2759
Mobile: 462-423-4718
Email: ***@***.***

5678 Washington Street
Houston, TX 88915

www.contoso.com

[Titre : LinkedIn - Description : image of LinkedIn icon]<http://linkedin.com/> [Titre : Twitter - Description : image of Twitter icon] <http://twitter.com/>  [Titre : google+ - Description : image of google+ icon] <http://goo

[2022-04-24 20:19] aghonaim commented on #347
That makes sense now, thanks for the fix :)

[2022-04-24 20:32] aghonaim commented on #348
Creating more hierarchies by default then deleting the unwanted ones in the PBI is less ideal but it works for sure. I also noticed that those default hierarchies are not editable in the PBI. Is there to make them editable in PBI ?

I still believe it would be ideal if I can customize my hierarchies in Bravo :)

[2022-04-24 21:15] aghonaim commented on #346
I believe it's the first 2. Basically it would be great if we can have select Time Intelligence Group or Individual Functions with the group to be applied on all or individual exiting measures.

For example:
1- Apply "Growth" on all/individual measures
2- Apply exclude "Moving annual growth"
3- Apply MTD and YTD only on Measure 1 and Measure 2 only
4- etc.

I envision this feature to be a check bo

[2022-04-25 05:37] marcosqlbi commented on #346
We have to evaluate whether to include a similar feature in v1 or postpone in future versions.
The issue is that the template could change, so the groups of time intelligence functions could change as well.
We could infer the structure from the metadata of the template, but I'm worried we do not have a feature to support that in the library.
However, this is something we wanted to do, it's just a

[2022-04-25 12:55] aghonaim commented on #346
Sounds good and thanks for your hard work! :)

[2022-04-26 08:19] #349 closed

[2022-04-26 12:09] albertospelta opened #363 "Add support for format KPI"

[2022-04-26 13:40] albertospelta commented on #263
Hi @Hikmer, we have added this functionality in an experimental build which, in addition to Power BI commercial cloud, also allows you to connect to other environments associated with the login user. Unfortunately we only have access to the commercial cloud environment of Power BI, so we are not able to verify that it is working properly.

It would be great if you could test this and give us some

[2022-04-26 14:41] marcosqlbi opened #364 "Error connecting to on-premises SSAS used in live connection"
### Describe the problem

Power BI has a live connection to a local SSAS database:
Error 200: The connection to the requested resource is not supported.

### Bravo version

0.9.3-internal-20220426.2-0.9.8151.17783-main-77ab64eb0cc62280d75cf731a972a61f1976bf17 (0.9.8151.17783)

### Tabular model

Power BI Desktop, import mode

### Power BI

Power BI Desktop version April 2022

### Steps to reproduc

[2022-04-26 14:53] marcosqlbi commented on #150
@danieleperilli **we should remove the data type symbol for every level in a hierarchy** because it is more consistent. The way it works now could be misleading - showing a data type of another column. It does not worth the effort moving to the client all the information just to provide the data type - we should include the underlying column name if we wanted a real difference but it's not very im

[2022-04-26 14:57] marcosqlbi commented on #348
@aghonaim we are not going to add other options at least in v1.
Please, can you clarify what you mean with "those default hierarchies are not editable in PBI"? They are like any other hierarchy and you can modify them in the Fields pane and in the Properties pane of the diagram view. Please, let us know in which condition you are not able to modify them.
Thanks!

[2022-04-26 15:01] marcosqlbi commented on #330
Probably fixed by #359

[2022-04-27 01:22] aghonaim commented on #348
@marcosqlbi I'm sorry it's my fault because I wasn't aware that modifying the hierarchy was moved from the Report view to the Prosperities pane in the Model view. We should be good then and thanks for your great work.

[2022-04-27 04:19] aghonaim opened #366 "Create standard aggregate explicit measures"
### The feature request

It would be great if you could consider in the future versions the ability to identify all the numeric columns in the data model and allow us to automatically create key basic explicit aggregate measures like Sum, Avg, Min, Max, Count, etc.

### Proposed solution

Show a list of all the all the numeric columns in the data model with a check box each  and a list key aggrega

[2022-04-27 08:54] Nithin211 opened #367 "Exporting measures"
### The feature request

Please add a option to export measures to Excel. Or CSV so that it helps in documentation

### Proposed solution

In formated DAX or Export data add this featured

### Additional context

_No response_

[2022-04-27 14:00] marcosqlbi commented on #367
You can already do that:

1. Use "Save as VPAX" in "Analyze Model"
2. Open the VPAX file with VertiPaq Analyzer, which is an Excel workbook that puts all the DAX expressions in a separate Excel table: https://www.sqlbi.com/tools/vertipaq-analyzer/

[2022-04-27 14:00] #367 closed

[2022-04-27 15:49] marcosqlbi commented on #366
It is interesting, but at the same time, it is challenging. Usually, you don't want to sum any numeric column. Providing all the options (list of measures, list of possible aggregations) would result in a more complex UI and the biggest issue is also how to name the resulting measures.
Past experience with Power Pivot, where the measure automatically created is named "Sum of ..." makes the model u

[2022-04-27 15:53] marcosqlbi commented on #344
Yes, you can edit the Holidays calculated table adding the rows you need to the table generated.

[2022-04-27 15:57] aghonaim commented on #366
@marcosqlbi another suggestion for the naming convention for those explicit aggregate measure is: columnnameSum, columnnameAvg, columnnameMax, columnnameMin, etc.

[2022-04-27 19:59] lifeindarkside commented on #344
[2021-2022.csv](https://github.com/sql-bi/Bravo/files/8577214/2021-2022.csv)
in attachment file all holidays in 2021 and 2022 year

[2022-04-29 09:41] albertospelta commented on #344
Hi @lifeindarkside, as @marcosqlbi said, currently we can only generate holidays automatically and for countries that have different holidays every year you can use additional tables that you have to maintain manually.

For example, you can edit the `Holidays` calculated table created by Bravo and replace the DAX code with the below DAX statement built from the CSV you provided.

[code]

[2022-04-29 11:31] lifeindarkside commented on #344
Great. thank you. what about working holidays? (in csv file some days have parametr (working day)

[2022-04-29 11:59] albertospelta commented on #344
[code]

[2022-04-30 22:29] adamsmodi commented on #344
Hello @lifeindarkside ,

thanks a lot for raising this as an issue.. because in China, we have exactly the same problem as Russia. There are pubic holidays which will be adjusted by the government every year which can not be automatically derived via algorithm in advance.

@albertospelta ,

your proposal for manual adjust for holiday table is fully understood. However, since Bravo is such a practi

[2022-05-02 18:03] mscottsewell opened #373 "Mark some measures to exclude from Time Intelligence - 'permanently'"
### The feature request

I can already manually 'uncheck' and prevent time intelligence measures from being created on some measures where they are not needed. (e.g. measures scoped to 'all dates')
However, the next time I open Bravo, I need to re-un-select all the same measures.
The ask is to allow me to somehow mark some measures as excluded, and persist that from session to session.

### Propos

[2022-05-02 18:16] mscottsewell opened #374 "Optionally create the Time Intelligence measure folders based on the measure name first."
### The feature request

Currently the time intelligence folder hierarchy is
 \Time Intelligence
\ \TimeIntelligenceCategory
\ \ \MeasureFolder
\ \ \ \MeaureName
 \ \ \ \ \TimeIntelligenceMeasure

### Proposed solution

I'd like to drill through starting with the Measure Name (and Folder if available) and then (optionally to the measure category) and to the TI measure.

\Time Intelligence
\ \Measu

[2022-05-02 18:26] mscottsewell opened #375 "Add Relative Periods (Month/Year/Day) to the Calendar selection"
### The feature request

Add relative dates to the calendar created by Time Intelligence
        VAR RelativeYear = DATEDIFF(TODAY(),[Date],YEAR)
        VAR RelativeMonth = DATEDIFF(TODAY(),[Date],MONTH)
etc.

### Proposed solution

Using a relative date calculation is only way (that I know) to filter a report page by a date range like "all dates from 6 months ago plus this month and up to 6 mont

[2022-05-02 20:25] albertospelta commented on #344
We will consider an alternate way to import holidays for specific countries where the holidays change from year to year in a not-too-predictable way. We have to figure out a user interface that can work for most of those countries.

[2022-05-03 05:21] lifeindarkside commented on #344
This is great idea! I add another holidays in the DAX code.

[2022-05-03 06:23] lifeindarkside commented on #344
Thia is holidays from 2015 to 2022

`Holidays = DATATABLE(
    "Holiday Date", DATETIME,
    "Holiday Type", INTEGER, //1 - Holiday; 2 - Work day
    "Holiday Name", STRING,
    {
        //2022
        { "2022-01-01", 1, "Новогодние каникулы" },
        { "2022-01-02", 1, "Новогодние каникулы" },
        { "2022-01-03", 1, "Новогодние каникулы" },
        { "2022-01-04", 1, "Новогодние каникулы"

[2022-05-03 09:07] #330 closed

[2022-05-03 09:08] #273 closed

[2022-05-03 13:09] NickyvVr opened #379 "A new version is available while the latest version is installed"
### Describe the problem

I just downloaded the **0.9.3 Self contained - user** and after installing and opening Bravo, it immediately prompts for an update.
![image](https://user-images.githubusercontent.com/16239272/166458183-7f644bcc-642b-4f9e-bf80-d337b34c5b75.png)
But following that link still ends up at the same version: https://github.com/sql-bi/Bravo/releases.

### Bravo version

0.9.8139.

[2022-05-03 13:26] albertospelta commented on #379
You are right, we have just released version 0.9.4. The notification of the new version on GitHub takes a few minutes compared to the notification shown by the application, which is immediate.

[2022-05-03 13:26] #379 closed

[2022-05-03 13:31] albertospelta commented on #349
Fixed in version [0.9.4](https://github.com/sql-bi/Bravo/releases/tag/v0.9.4)

[2022-05-03 13:31] albertospelta commented on #347
Added in version [0.9.4](https://github.com/sql-bi/Bravo/releases/tag/v0.9.4)

[2022-05-03 13:32] albertospelta commented on #336
Fixed in version [0.9.4](https://github.com/sql-bi/Bravo/releases/tag/v0.9.4)

[2022-05-03 13:33] albertospelta commented on #330
This should be fixed with version [0.9.4](https://github.com/sql-bi/Bravo/releases/tag/v0.9.4), feel free to reopen if the issue still persists.

[2022-05-03 13:33] albertospelta commented on #326
Fixed in version [0.9.4](https://github.com/sql-bi/Bravo/releases/tag/v0.9.4)

[2022-05-03 13:33] albertospelta commented on #324
Fixed in version [0.9.4](https://github.com/sql-bi/Bravo/releases/tag/v0.9.4)

[2022-05-03 13:34] albertospelta commented on #273
This should be fixed with version [0.9.4](https://github.com/sql-bi/Bravo/releases/tag/v0.9.4), feel free to reopen if the issue still persists.

[2022-05-03 22:02] stuartmcnicholas opened #381 "Error connecting to dataset live connected to SSAS via PBI gateway"
### Describe the problem

Error HTTP/500: Internal Server Error.
The connection either timed out or was lost.

### Bravo version

0.9.1 (0.9.8124.15471)

### Tabular model

Power BI Dataset

### Power BI

Microsoft Analysis Services 14.0.3.441 (Power BI Gateway)

### Steps to reproduce the behavior

_No response_

### Additional context

_No response_

### Screenshots

![image](https://user-images

[2022-05-04 09:53] albertospelta commented on #381
Hi @stuartmcnicholas, thanks for reporting!
This is an issue we are aware of that has also been reported in #364 - we expect it to be fixed with the next release (v0.9.5)

[2022-05-04 18:37] aghonaim opened #383 "Fiscal year start issue"
### Describe the problem

The fiscal year is leading the calendar year while it should be lagging the calendar year.
If I identify the starting month of my fiscal year to be on Apr the Date table is identifying the calendar Apr 2022 as the starting of the FY 2023 while it should be the starting month of  FY 2022.

### Bravo version

0.9.4

### Tabular model

Power BI Desktop, import mode

### Powe

[2022-05-04 18:39] mscottsewell opened #384 "Auto-Exclude the Bravo-Created Time Intelligence Measures from Formatting (or auto-format them upon creation.)"
### The feature request

After applying changes to time intelligence measures, All the TI measures show up as needing to be formatted. Every time.

![image](https://user-images.githubusercontent.com/6276300/166803233-87b499af-2d2d-4c0f-b24a-e54d285dd077.png)

### Proposed solution

Either allow the Time Intelligence measures to be 'excluded' from the Format DAX selection list - OR - always create/

[2022-05-04 22:50] awatsky opened #385 "Add setting to allow the input of proxy address and credentials"
### The feature request

Currently there isn't a way to set a proxy address and credentials. As a result Format DAX will not work since my machine sends proxy tunnel requests.

I am getting an error message (see below), but I think it is because Bravo doesn't currently have a way to connect to the proxy.

**Error message**

[code]
```{"name":"[HOST] UnhandledException","objects":["System.Net.Http.

[2022-05-05 12:49] albertospelta commented on #384
Thanks for your suggestion, we will add a new setting in the formatting options to exclude Time Intelligence measures created by the Manage Dates function in Bravo.

[2022-05-05 13:02] albertospelta commented on #385
@awatsky Did the same error also occur when connecting to Power BI online datasets?

[2022-05-05 16:25] awatsky commented on #385
@albertospelta Yes the same error occurs. I also tried via the External Tools panel and directly from Bravo when connecting to the dataset with no changes in results.

[2022-05-05 18:24] albertospelta commented on #385
What proxy configuration do you use for DaxStudio?
Do you only enable the "Use System Proxy" option only or do you enter the address and credentials?

[2022-05-05 18:30] awatsky commented on #385
@albertospelta , I enter the address and credentials.
![image](https://user-images.githubusercontent.com/20262286/166993668-4fb4600d-d37e-4825-84b2-ad4ec830ce29.png)
Currently, using System Proxy does not work.
![image](https://user-images.githubusercontent.com/20262286/166993166-b40b8db6-ad00-4453-8e6c-06483e70eaab.png)

[2022-05-06 08:00] albertospelta commented on #385
@awatsky we have an internal build available that introduces support for the proxy server., it would be great if you could test it and give us feedback. Please let me know so I can provide you with the download and configuration details.
Thanks!

[2022-05-06 12:53] awatsky commented on #385
@albertospelta absolutely!

[2022-05-08 18:04] marcosqlbi commented on #373
@albertospelta could we include this selection in the configuration? Or is it already there and we ignore it?

[2022-05-08 18:06] marcosqlbi commented on #374
This is already possible in the DaxTemplate library, but it is not exposed as a configuration in Bravo.
Would it be ok to customize the option in a JSON file?

[2022-05-08 18:08] marcosqlbi commented on #375
Would it be good for you to customize a JSON file with your own template?
We do not want to complicate the UI in Bravo, so such a field should be always included in the templates, but we are not sure it would be commonly used. We want to include more advanced configurations, but not in the UI - mostly in JSON files.

[2022-05-08 18:09] marcosqlbi commented on #383
I don't understand the question - please, can you clarify with an example the current result and the expected one?

[2022-05-08 18:10] albertospelta commented on #373
@marcosqlbi This selection is currently not saved in the configuration but we can certainly add it.

[2022-05-09 08:38] danieleperilli commented on #150
Completed #392

[2022-05-09 08:38] #150 closed

[2022-05-09 13:55] #66 closed

[2022-05-09 17:06] mscottsewell commented on #374
I suppose so - Let me look at the library.

[2022-05-09 17:40] #92 closed

[2022-05-10 12:47] dragon687 opened #396 "Add feature/regkey to block update notifications."
### The feature request

Can a feature be added to block the auto update notifications?

### Proposed solution

Possibly make this a registry key similar to the telemetry disable options that already exist? Notifications can stay on for other general things, just looking for a way to disable the auto update check.

### Additional context

This would be helpful for central IT departments deploying

[2022-05-10 14:32] albertospelta commented on #396
@dragon687 Thanks for this suggestion, that's a good idea. I think we could use the registry key `HKLM\Software\Policies\SQLBI\Bravo` so it could also simplify the deployment via ADMX templates.
How does that sound?

[2022-05-10 14:52] marcosqlbi commented on #375
The issue is that there are many different requirements. If we include all the possible columns, we end up with a complex Date table and/or a large number of configuration settings. We are exploring options, but in the v1 we would like to keep the templates we have now plus the option of a custom template (not available yet).

Please, can you elaborate on the need of storing the customized templat

[2022-05-10 15:03] mscottsewell commented on #375
Thanks @marcosqlbi - My thoughts are around the teams working on a report - or working on a report that I updated a month ago. - If managing a PBIX becomes now dependent on external json files, then the customer process now requires a more involved source/version control setup.

[2022-05-10 17:29] #364 closed

[2022-05-10 17:29] #381 closed

[2022-05-10 17:43] dragon687 commented on #396
Sounds good to me! :)

[2022-05-10 18:04] albertospelta commented on #364
@marcosqlbi can you check if the latest internal build solved the issue? Thanks.

[2022-05-11 10:00] albertospelta commented on #385
@awatsky Sorry for the delay in replying, but we had to make other changes to fix minor issue in order to have a usable version for testing. You can now take the latest internal build by changing the release channel (from 'Stable' to 'Dev') in the configuration options.

Once the new version is installed, authentication credentials must be added in the [Windows Credentials Manager](https://support

[2022-05-11 13:16] awatsky commented on #385
@albertospelta is this something I can try with a portable version or my personal computer (one that does not use a proxy)? I ask because I do not have admin rights on my computer and will need my IT department to install the dev version. That can take some time.

[2022-05-11 13:34] albertospelta commented on #385
@awatsky  You can download internal builds from here https://bravo.bi/builds.
Unser-installer and portable versions are also available.

[2022-05-11 13:40] awatsky commented on #385
@albertospelta are there any other steps that I need to take?

[2022-05-11 15:49] albertospelta commented on #385
In case of a HTTP/PROXY connection error, you should find the details in the diagnostic panel
![image](https://user-images.githubusercontent.com/1957788/167892752-e8650656-e8b2-4d98-82e9-dbe7e380e809.png)

[2022-05-11 18:04] awatsky commented on #385
I am able to check for updates.

![image](https://user-images.githubusercontent.com/20262286/167916580-ef3ef7de-62ba-4020-b6c3-e769a11579ee.png)

[2022-05-11 18:15] albertospelta commented on #385
I really think so

Just to double-check, if you change the password in the credentials manager by entering an incorrect one, do you receive the HTTP/401 error message when checking for updates?

[2022-05-11 21:41] awatsky commented on #385
@albertospelta I just learned something. The proxy information inside the usersettings.json file is being overwritten after I modify the file with the default information. Once I have added all the information and save I go to open Bravo and instantly the file is overwritten to the default information. I set up everything as you explained, but I never tried using the formatter. Once I try using it

[2022-05-13 01:02] aghonaim commented on #383
![Issue](https://user-images.githubusercontent.com/20173049/168190573-b4424600-91da-4a66-a909-97569c564249.JPG)

@marcosqlbi:  In this example,  for Jan-Mar 2007 (calendar), the fiscal year associated should be 2006 (Q4) and the starting of the FY 2007 should be in Apr 2007 calendar.

Does this make sense now ?

[2022-05-13 08:28] albertospelta commented on #385
This probably happens because you are using `proxy.type = 1` in the configuration file `usersettings.json`, When `proxy.type = 1`, the OS conf  is used and the `proxy.address` value is reverted to the OS value.

If you restore the previous configuration, the one that allowed you to check for updates without errors, you should be able to use Bravo to connect to a PowerBI Desktop report and use the

[2022-05-15 14:08] marcosqlbi opened #403 "Fix description "First Day of the Fiscal Year""
### Describe the problem

The "First Day of the Fiscal Year" parameter in the Weekly calendar template should be named "Date defining the Fiscal Year"

<img width="730" alt="image" src="https://user-images.githubusercontent.com/13840816/168476913-362ef7b1-3093-44c9-b723-0780f94f2511.png">

### Bravo version

0.9.8149.20419

### Tabular model

Power BI Desktop, import mode

### Power BI

Power BI D

[2022-05-15 14:12] marcosqlbi opened #404 "Add __TypeStartFiscalYear parameter in Monthly and Custom date templates"
### The feature request

Currently only the Weekly date templates has a __TypeStartFiscalYear parameter to control how to define the fiscal year number.

### Proposed solution

The same setting should be ported to the other templates that have a Fiscal Year column.

### Additional context

_No response_

[2022-05-15 14:13] marcosqlbi commented on #383
Most companies do the opposite of what you are asking and identify the fiscal year with the year of the last day of the fiscal period. The Weekly calendar has a setting that controls this behavior: It is called "First Day of the Fiscal Year" in version 0.9.4 but we'll rename it in 0.9.5 (see #403).
Follow feature request #404 to see when this setting will be available in other templated (hopefully

[2022-05-15 14:13] #383 closed

[2022-05-16 17:14] RofoRojas opened #406 "First Day of Month missing"
### Describe the problem

Error HTTP/500: Internal Server Error.
 *** PLEASE REPORT THIS ISSUE ON GITHUB *** La colección no contiene ningún objeto llamado 'Month Ref'. (Parameter 'name')

### Bravo version

0.9.4 (0.9.8158.22794)

### Tabular model

Power BI Dataset

### Power BI

Power BI Desktop version March 2022

### Steps to reproduce the behavior

So I added a custom made column on the dax

[2022-05-16 18:30] TheDanO opened #407 "NullReferenceException raised instead of TOMDatabaseNotFound error"
### Describe the problem

Error happens when trying to connect to a report connecting to AAS. Login dialog shows, then shows this error.

Error HTTP/500: Internal Server Error.
Object reference not set to an instance of an object.
Trace Id: 00-4cd0e002bc13891b97eca4d15bc685bf-4ac9871c70517a2c-00
Version: 0.9.4-internal-20220515.1-0.9.8170.25813-main-2448ea4ea1f1bbccb2ec4aa32b28d274fc7a7e25 (0.9.81

[2022-05-16 19:44] albertospelta commented on #407
@TheDanO thanks for reporting it! I just pushed a fix (#408) for an existing bug that was causing an incorrect error message to be displayed. The new build (0.9.8171.33978) is already available for download (dev channel only)

With this change, the expected error message should be _"The database does not exist in the collection or the user does not have administrator rights to access it."_.

Does

[2022-05-16 20:05] albertospelta commented on #406
@RofoRojas thanks for reporting the issue!
Can you provide a sample PBIX file and the steps to reproduce this error?

[2022-05-16 20:27] TheDanO commented on #407
Yes it was the message that was throwing me off.  After update, I get the same message you have above. Would I need a higher permission for Bravo? PowerBI works against this AAS with my current permissions...

[2022-05-17 08:42] albertospelta commented on #407
@TheDanO You are right, PowerBI works against AAS with your current permissions but allows you to only query the data. Bravo requires administrator permissions in order to access the advanced metadata of the model (for Analyze Model) and to be able to update the database schema (Format DAX)

[2022-05-17 16:23] albertospelta commented on #385
@awatsky that's great news! Huge thanks for all the tests you did!
Also great news is that it also works via auto-config proxy ( .PAC file in address )

[2022-05-17 17:02] #396 closed

[2022-05-17 17:07] albertospelta opened #410 "Support configuration via group policy"
### The feature request

Add support for configuring application settings via Group Policy and ADMX templates

- [x] `OptionSettings.UpdateCheckEnabled` (#409)
- [x] `OptionSettings.UpdateChannel ` (#409)
- [ ] more .. TBD

### Proposed solution

.

### Additional context

_No response_

[2022-05-17 17:24] albertospelta commented on #396
Hi @dragon687, this feature will be available in the next release.

`Software\Policies\SQLBI\Bravo\OptionSettings\UpdateCheckEnabled`, `REG_DWORD`, `1 = enabled`, `0 = disabled`

You can refer to the ADMX templates for full details
https://github.com/sql-bi/Bravo/tree/main/src/Infrastructure/Security/Policies/ADMX

[2022-05-18 19:42] albertospelta commented on #385
@awatsky FYI, we just added (Dev channel only) support for proxy server configuration in the Bravo options panel. I am closing this issue, but feel free to reopen in case of further issues/questions. Thanks!

[2022-05-18 19:42] #385 closed

[2022-05-18 19:45] dragon687 commented on #396
Thanks a ton!

[2022-05-19 11:41] digoms44 opened #415 "Error 200: Power BI process not yet ready"
### Describe the problem

Error 200: Power BI Desktop process is opening or the Analysis Services instance is not yet ready.

### Bravo version

0.9.4 (0.9.8158.22794)

### Tabular model

Power BI Desktop, import mode

### Power BI

january/22

### Steps to reproduce the behavior

_No response_

### Additional context

_No response_

### Screenshots

_No response_

### Anything else ?

_No respons

[2022-05-19 14:43] albertospelta commented on #415
@digoms44 This message is shown when Bravo cannot connect to Power BI Desktop because the underlying process and database are not yet fully initialized (they are still starting up).
Is your PBIX file using a local model or is it connected to an online PBI dataset ?
Can you provide a sample PBIX file and/or the steps to reproduce ?

[2022-05-22 11:50] #403 closed

[2022-05-23 07:58] #373 closed

[2022-05-23 10:25] #275 closed

[2022-05-24 10:45] albertospelta commented on #385
@awatsky FYI a new experimental build is available here https://github.com/sql-bi/Bravo/issues/263#issuecomment-1135751512 that supports authentication to GCC and other PBI environments. It would be great if you could test this and give us some feedback.
Thanks!

[2022-05-24 14:56] awatsky commented on #263
Hey @albertospelta,  I am not seeing the drop down and the build is not liking my e-mail address.

![image](https://user-images.githubusercontent.com/20262286/170063628-0e68155f-7bd9-4d00-9772-c2ca51ac3d2c.png)

[2022-05-24 15:36] albertospelta commented on #263
@awatsky Does the diagnostic panel contain any errors ?
After validating the e-mail address, in case there are no errors, messages similar to those below should appear.

![image](https://user-images.githubusercontent.com/1957788/170075314-6054c954-8ed2-42aa-b103-64409fcc7ea6.png)

[2022-05-25 09:38] albertospelta commented on #227
Proxy server support will be available with the next release (0.9.5), which should solve this issue (see https://github.com/sql-bi/Bravo/issues/385).

[2022-05-25 16:28] tjessome opened #423 "Cannot Choose Measures for Time Intelligence"
### Describe the problem

After adding date tables to a PBI Desktop model the ability to select specific measure to add time intelligence functions to is lost. When I initially added the date tables, I did not add any time intelligence functions.

### Bravo version

0.9.8158.22794

### Tabular model

Power BI Desktop, import mode

### Power BI

Version: 2.105.923.0 64-bit (May 2022)

### Steps to

[2022-05-25 18:31] mscottsewell opened #425 "Error 800: OLE DB or ODBC error: TOPNSKIP is not supported in DirectQuery mode"
### Describe the problem

My model is DirectQuery and when I try to Manage Dates, I get this error:

<img width="440" alt="Bravo Error" src="https://user-images.githubusercontent.com/6276300/170339991-a77495de-fcf6-4cb5-9d83-1407a934928d.png">

### Bravo version

0.9.8158.22794

### Tabular model

Power BI Dataset

### Power BI

Power BI Desktop version May 2022

### Steps to reproduce the behavio

[2022-05-25 19:15] albertospelta commented on #425
@mscottsewell What data source are you using? Is it a relational database, a multidimensional database, or something else ?

[2022-05-25 19:27] mscottsewell commented on #425
It's a new Power BI Datamart.

[2022-05-26 11:52] marcosqlbi commented on #425
I think that the problem is the preview - I never used Data Mart, so we have to investigate. I'll keep you posted.

[2022-05-30 07:03] dalianmao-nuanyangyang opened #428 "Add data filter funciton for data export"
### The feature request

Really love bravo for its data export function, makes it much easier for regular data export to csv or excel files, but for some large model we may only want to export a certain period of data, hope bravo will add a filter function for data export.

### Proposed solution

Add customized model filter function for data export, data export will be faster and easier for large

[2022-05-31 16:24] R1k91 opened #429 "Windows Server 2016 not supported"
### The feature request

Hi!

I've just updated my local Bravo installation to v0.9.4 but it turned out I cannot run it on my Windows Server 2016 VM.
v0.9.2 worked without any issue (installed through Power BI.tips' Business Ops Tool)

![image](https://user-images.githubusercontent.com/57228476/171222697-7159c37d-d51e-4e36-ad96-41578e3d5076.png)

is it a bug or you're not going to support that OS

[2022-05-31 17:20] albertospelta commented on #429
Ciao @R1k91, this limitation was introduced in version 0.9.3 but starting from the next release (0.9.5) compatibility will be extended to older versions of the Windows OS, for both client and server editions. The new version will be released in the next few days but in the meantime you can use the latest internal build - just change the update channel from 'stable' to 'dev' in the  options\about p

[2022-05-31 19:13] albertospelta commented on #263
@awatsky  I guess the 403 Forbidden error response came from your internal corporate proxy server which denies access to the global discovery endpoint for the PBI Commercial cloud `https://api.powerbi.com/` due to firewall/proxy policies. (more info here https://docs.microsoft.com/en-us/power-bi/enterprise/service-govus-overview#sign-in-to-power-bi-for-us-government).

If your account is configure

[2022-05-31 19:26] #404 closed

[2022-05-31 21:26] awatsky commented on #263
`
StatusCode        : 200
StatusDescription : OK
Content           : {"environments":[{"cloudName":"USGovCloud","azureActiveDirectoryUri":"https://login.microsoftonline
                    .com","azureResourceManagerUri":"https://management.usgovcloudapi.net","azureResourceManagerAadReso
                    ur...
RawContent        : HTTP/1.1 200 OK
                    Pragma: no-cache

[2022-06-01 05:42] R1k91 commented on #429
Ciao @albertospelta great to hear that. thank you very much!

[2022-06-02 08:34] albertospelta opened #433 "Automatic preview hangs indefinitely"
### Describe the problem

Format DAX measure analysis hangs indefinitely if automatic preview is enabled

### Bravo version

n/a

### Tabular model

Power BI Desktop, import mode

### Power BI

n/a

### Steps to reproduce the behavior

- Enable Options\Formatting\Automatic preview
- Connect to a PBIX model and select Format Dax

### Additional context

[code]

### Screenshots

_No response_

### A

[2022-06-03 08:28] #433 closed

[2022-06-04 10:20] albertospelta commented on #429
Added in version [0.9.5](https://github.com/sql-bi/Bravo/releases/tag/v0.9.5)

[2022-06-04 10:20] #429 closed

[2022-06-04 10:21] albertospelta commented on #227
This should be fixed in version [0.9.5](https://github.com/sql-bi/Bravo/releases/tag/v0.9.5), feel free to reopen if the issue still persists

[2022-06-04 10:21] #227 closed

[2022-06-04 10:23] albertospelta commented on #433
Fixed in version [0.9.5](https://github.com/sql-bi/Bravo/releases/tag/v0.9.5)

[2022-06-04 10:23] albertospelta commented on #404
Added in version [0.9.5](https://github.com/sql-bi/Bravo/releases/tag/v0.9.5)

[2022-06-04 10:23] albertospelta commented on #275
Added in version [0.9.5](https://github.com/sql-bi/Bravo/releases/tag/v0.9.5)

[2022-06-04 10:23] albertospelta commented on #373
Added in version [0.9.5](https://github.com/sql-bi/Bravo/releases/tag/v0.9.5)

[2022-06-04 10:24] albertospelta commented on #403
Fixed in version [0.9.5](https://github.com/sql-bi/Bravo/releases/tag/v0.9.5)

[2022-06-04 10:24] albertospelta commented on #385
Added in version [0.9.5](https://github.com/sql-bi/Bravo/releases/tag/v0.9.5)

[2022-06-04 10:24] albertospelta commented on #396
Added in version [0.9.5](https://github.com/sql-bi/Bravo/releases/tag/v0.9.5)

[2022-06-04 10:24] albertospelta commented on #383
Fixed in version [0.9.5](https://github.com/sql-bi/Bravo/releases/tag/v0.9.5)

[2022-06-04 10:25] albertospelta commented on #381
This should be fixed in version [0.9.5](https://github.com/sql-bi/Bravo/releases/tag/v0.9.5), feel free to reopen if the issue still persists.

[2022-06-04 10:25] albertospelta commented on #364
Fixed in version [0.9.5](https://github.com/sql-bi/Bravo/releases/tag/v0.9.5)

[2022-06-04 10:25] albertospelta commented on #384
Added in version [0.9.5](https://github.com/sql-bi/Bravo/releases/tag/v0.9.5)

[2022-06-04 10:25] albertospelta commented on #92
Added in version [0.9.5](https://github.com/sql-bi/Bravo/releases/tag/v0.9.5)

[2022-06-04 10:26] albertospelta commented on #66
Fixed in version [0.9.5](https://github.com/sql-bi/Bravo/releases/tag/v0.9.5)

[2022-06-04 10:26] albertospelta commented on #150
Fixed in version [0.9.5](https://github.com/sql-bi/Bravo/releases/tag/v0.9.5)

[2022-06-04 14:42] albertospelta commented on #423
@tjessome This error should be fixed in v0.9.5. Can you update the Bravo installation and try again?

[2022-06-04 14:43] #407 closed

[2022-06-04 14:45] albertospelta commented on #319
I am closing this issue, but feel free to reopen in case of further issues/questions. Thanks!

[2022-06-04 14:45] #319 closed

[2022-06-04 15:01] albertospelta commented on #215
I'm not able to reproduce this issue but starting from the next release we will introduce an option to delegate the authentication flow to the OS default browser (system browser) instead of using the embedded authentication window.

[2022-06-06 17:58] emirtut opened #437 "WebView2 Unable to cast COM object E_NOINTERFACE 0x80004002"
### Describe the problem

portable version of Bravo 0.9.5x64 (from 04.06.2022, downloaded 06.06.2022) shows error during instalation as shown on enclosed picture.
I download portable version (zipped file and error is there). Even after I choose quite according to error, no Bravo is shown simple error
![Bravo 0 9 5 x64-portable_error](https://user-images.githubusercontent.com/69401624/172217721-856

[2022-06-06 20:50] albertospelta commented on #437
@emirtut thanks for reporting!
In-place downgrade is not supported, the simpler method is to uninstall version v0.9.5 and then install v0.9.4.

I have just pushed a fix for this issue, if you want to test it you can download the latest internal build here https://bravo.bi/builds
- portable version https://bravorelease.blob.core.windows.net/bravo-internal/2022/06/06/20220606.2-0.9.8192.36624/Bravo.

[2022-06-07 16:13] emirtut commented on #437
Hi Alberto,I am writing to you this way as on Github, I could not access the link to test update.This could last several days so if possible,  please plan release of updated version (my error version of Bravo) for first next release as I understand the bug is resolvedThank you,KrEmirDana 6. jun 2022. 22:50, osoba Alberto Spelta ***@***.***> je napisala:
@emirtut thanks for reporting!
In-place down

[2022-06-08 07:30] #428 closed

[2022-06-08 07:32] marcosqlbi commented on #406
Because we have many similar requests, we thought that the best way is to enable full customization of the template. This will not be done in the UI of Bravo to keep it simple and easy to use but through an external edit of the JSON configuration file. We should release that in v1.0.

[2022-06-08 07:37] marcosqlbi commented on #375
@mscottsewell It's only the creation of a Date table in the PBIX file that depends on Bravo, once you create that Date table, it can be modified without using Bravo just as any other table in the model.
Our idea is that creating too many parameters would undermine the usability of the tool. We are looking forward to implementing external configuration files that a company can decide to automatical

[2022-06-08 07:40] marcosqlbi commented on #333
Reviewing the issue, I understand that the goal was to get the month-to-today, which is not the month-to-date that uses the date selected in the report. I close the issue because it seems out of scope. Please reopen if there are additional considerations.

[2022-06-08 07:40] #333 closed

[2022-06-08 07:42] marcosqlbi commented on #374
@mscottsewell sorry for the delay - the documentation for the DAX Template library is available here: https://docs.sqlbi.com/dax-template/
In v1.0 it will be possible to edit these files and get the customized version in Bravo.

[2022-06-08 17:45] tjessome commented on #423
That worked. Thanks!

[2022-06-08 17:45] #423 closed

[2022-06-10 05:34] emirtut commented on #437
Hi Alberto,

I could not test installer version due to missing admin rights on my corporate machine.
For portable version, it seems the same error is there as before. Only difference I notice, is changed header name of error message - see yellow marked part on picture below.

Let me know what could be next step.

Kr
Emir

![portable version v0 9 5](https://user-images.githubusercontent.com/6940162

[2022-06-10 07:21] albertospelta commented on #437
Hi @emirtut, can you expand the detailed information by clicking the "Details" button and copy-paste here the content ?

What is the version of the program "Microsoft Edge WebView2 Runtime" in the "Control Panel\Programs and Features" ?
![image](https://user-images.githubusercontent.com/1957788/173009857-8da6b01b-78a7-47ee-98d7-43eb9724b394.png)

Can you copy-paste here the Power BI Desktop sessio

[2022-06-10 09:00] emirtut commented on #437
Hi Alberto,

Below details. Part below Myuser is just dummy to hide real data

Also, picture of version below - older than yours.
![MicEdgeversion](https://user-images.githubusercontent.com/69401624/173030180-171ae6ee-faf6-48fb-aad1-7eeb70eaaa0d.png)

It could be that all this issues are related to my corporate setup so maybe I wrongly post bug.
It will be create that somebody else confirm this ve

[2022-06-12 15:05] albertospelta commented on #437
Here the WebView2 opened issue https://github.com/MicrosoftEdge/WebView2Feedback/issues/2517

[2022-06-12 15:11] albertospelta commented on #437
@emirtut I was finally able to reproduce the error.
The latest internal build (0.9.8198.23921) here https://bravo.bi/builds should fix the error.
Please let me know if you can run a test and if the error is resolved.
Thanks!

- portable version https://bravorelease.blob.core.windows.net/bravo-internal/2022/06/12/20220612.1-0.9.8198.23921/Bravo.0.9.5.x64.msi
- installer version https://bravorelease

[2022-06-12 20:11] emirtut commented on #437
Hi Alberto,

I could not test installer version due to missing admin rights on my corporate machine.
For portable version, the latest internal build (0.9.8198.23921) , seems ok now.

Thank you for support,

Let me know what could be next step: should we close this bug ID given that I do not have admin rights to test installer version?

Kr
Emir

[2022-06-16 16:17] adamsmodi opened #443 "Duplicate drop down items in Manage Dates - Calendar - Calendar Template ( Standard, Monthly ...)"
### Describe the problem

Dear SQLBI Team,

I figured out something recently which might be a small issue when I test the "Manage Dates" function with Bravo.

I open Bravo via "External Tool" tab in Power BI, go to "Manage Dates" --> "Calendar" --> "Calendar Template" .
I expand the drop down menu, I see 4 options: Standard, Monthly, Custom, Weekly.
I select Standard for example, then Preview Chan

[2022-06-16 17:38] adamsmodi opened #445 "Localization of Month Name, weekday name and holiday name in Chinese"
### The feature request

Dear SQLBI team,

I have 2 small questions if they are not too bothering..

1. During the test of Calendar Template with Chinese translation, I figured out that even though the column header is translated, the content in the column is not.. Specifically I am talking about Month name and weekday name. Currently the column header is in Chinese, but month name is still Englis

[2022-06-16 19:25] albertospelta commented on #437
@emirtut thanks to you too! I am closing this issue as Microsoft released a fix for this.
These changes will be included in the next release (v0.9.6)

[2022-06-16 19:25] #437 closed

[2022-06-16 20:07] albertospelta commented on #443
@adamsmodi Thanks for reporting this!
The duplicate option is added to the list of options after the template has been applied and represents a "virtual" template created from the applied configuration. This allows you to change the configuration of a previous applied template without having to configure it from scratch. The name of this option should definitely be different, e.g. "Standard (Curre

[2022-06-18 06:13] adamsmodi commented on #443
@albertospelta thanks a lot for detailed explanation and it helps me to understand the intended configurations. This will definitely help if we change it with different name.

I would even make it a little bit more clear. For example, when the user want to change calender template the 2nd time, the drop down menu could be "Standard(New)", "Standard(Current)", "Monthly", "Weekly", "Custom"

"Standa

[2022-06-18 19:50] albertospelta commented on #445
Hi @adamsmodi

The month name, as well as many other values in the date table, are automatically translated using the DAX `FORMAT` function that supports the optional `local_name` parameter. It seems that this function does not support translation for the Chinese language (and also for many other languages). I am not sure what the cause is, as you can see I have made several attempts in the follow

[2022-06-18 21:23] adamsmodi commented on #445
Hi @albertospelta

oh.. thanks a lot for trying. Actually I noticed the Format funtion in the hidden DateAutoTemplate. But I failed as well..

If it can be supported by Format function setting, it would be great.. In case not, then I will try to tell Chinese user to manually make columns like "Month Number", "Fiscal Month Number", "Number of Weekday" visible. so that they can still understand..

A

[2022-06-19 13:42] albertospelta commented on #445
Hi @adamsmodi, the solution is quite simple despite requiring the use of undocumented options ... :-(
I think this problem probably also affects the automatic translations of auto date-time tables (I have not tested this).

You can use this workaround until the fix is released:
- Edit the hidden `DateAutoTemplate` calculated table
- Replace the FORMAT function argument `ddd` with `aaa`
- Replace t

[2022-06-19 14:07] adamsmodi commented on #445
WoW.. thanks a lot @albertospelta
I quickly test all the four templates and change accordingly the code. It worked.
Unfortunately I did not find "aaa" and "ooo" in Microsoft official documentation...

thanks a lot :-)

For holiday template,  may I try to maintain Chinese character as holiday name as a trial ?

If yes, then I will request in my next pull request.

[2022-06-21 06:05] Ggithub2020 opened #449 "unable to launch external tool/ Bravo"
### The feature request

Bravo executable not found. contact the tool author for support.

### Proposed solution

the external tool should be accessible with installer in SQLBI -tools .

### Additional context

![image](https://user-images.githubusercontent.com/73087775/174727750-d73caa97-0623-4bdb-a60b-427dfc17e627.png)

[2022-06-21 07:11] albertospelta commented on #449
@Ggithub2020 Can you share the content of this file ?
`C:\Program Files (x86)\Common Files\Microsoft Shared\Power BI Desktop\External Tools\bravo.pbitool.json`

It should look something like this:
[code]
Does the `path` contain the correct path to the existing Bravo installation folder on your PC ?

[2022-06-21 07:12] albertospelta commented on #445
Yes, thanks!

[2022-06-26 20:05] marcosqlbi opened #450 "Date interval does not work for one column selected"
### Describe the problem

By selecting one column instead of one table, the date interval is not computed correctly.

### Bravo version

0.9.8192.13172

### Tabular model

Power BI Desktop, import mode

### Power BI

Power BI Desktop version June 2022

### Steps to reproduce the behavior

1. Open Contoso sample
2. Go in Manage Dates
3. Select the standard template
4. Go to Interval
5. Select only

[2022-06-26 21:23] Ggithub2020 commented on #449
![image](https://user-images.githubusercontent.com/73087775/175834272-422fefe4-6cd6-4b36-a57d-ed8a6c41603c.png)

[2022-06-26 21:23] Ggithub2020 commented on #449
Thanks, its working now:)

[2022-06-26 21:25] #449 closed

[2022-06-26 21:25] Ggithub2020 commented on #449
bug fixed:)

[2022-06-27 10:02] albertospelta opened #452 "Automatic scanning column selection is not retained"
### Describe the problem

After selecting one column instead of the whole table, the selected item is not retained after the template is applied.

### Bravo version

n/a

### Tabular model

Power BI Desktop, import mode

### Power BI

n/a

### Steps to reproduce the behavior

1. Open Contoso sample
2. Go in Manage Dates
3. Select the standard template
4. Go to Interval
5. Go to automatic scan
6. S

[2022-06-27 12:18] albertospelta commented on #263
Hi @awatsky, sorry for the late reply.  The `403 Forbidden` error most likely comes from the corporate proxy server. Is there any chance to run another test using an Internet connection that does not go through the proxy server? Thanks!

[2022-06-27 14:23] #450 closed

[2022-07-12 16:32] tjessome opened #455 "Spelling Mistake in Time Intelligence Measures"
### Describe the problem

Within the "Growth over full period" time intelligence measures, there is a minor spelling mistake in the autogenerated measure name for "QTDOPQ % <Measure Name>". Currently, the measure is named "Q**DT**OPQ %" (The "T" and "D" are switched).

### Bravo version

0.9.5 (0.9.8190.17886)

### Tabular model

Power BI Desktop, import mode

### Power BI

Version: 2.105.923.0 64

[2022-07-16 09:10] albertospelta commented on #455
@tjessome Thanks for reporting! This fix will be available in next release

[2022-07-16 09:10] #455 closed

[2022-07-25 04:46] scsuitguy opened #458 "YTD does reflect Fiscal Year Start"
### Describe the problem

Selected July as the first month of the fiscal year, but YTD resets in January.

### Bravo version

0.9.5 (0.9.8190.17886)

### Tabular model

Power BI Dataset

### Power BI

Power BI Desktop Version: 2.107.841.0 64-bit (July 2022)

### Steps to reproduce the behavior

_No response_

### Additional context

_No response_

### Screenshots

![ytd_snip](https://user-images.g

[2022-07-27 17:35] rudzimj opened #459 ""Access to the path is denied" error when launching Bravo"
### Describe the problem

When I start Bravo from Windows or from External Tools, it immediately dies with this error:

[code]

It is likely caused by security software. What is Bravo trying to connect to at startup?

### Bravo version

Bravo.0.9.5.x64.msi and Bravo.0.9.5.x64-userinstaller.msi

### Tabular model

Power BI Desktop, import mode

### Power BI

Power BI Desktop Version: 2.106.582.0 64

[2022-07-29 09:39] #215 closed

[2022-08-01 10:33] albertospelta commented on #458
In the current version, all measures created by the standard calendar template are based on the solar calendar date and not on the fiscal date. We are evaluating the possibility of also providing measures based on the fiscal calendar in a future version but at the moment we do not have a timeline for this.

To get the measure based on the fiscal date, you can manually duplicate the YTD measure and

[2022-08-03 08:07] albertospelta commented on #324
This issue only affects the .NET6 version of the framework and not the .NETFX/Core3.1/5.0 versions - see https://github.com/dotnet/runtime/issues/62929
There's a config setting we can use in .NET 6.0 to obtain the same behavior as in .NETFX/Core3.1/5.0:

[code]

[2022-08-03 08:18] #324 closed

[2022-08-09 13:19] DaveLaff73 opened #466 "_ShowValueForDate measure: I messed it up"
### Describe the problem

Error HTTP/500: Internal Server Error.
Sequence contains no matching element

### Bravo version

0.9.5 (0.9.8190.17886)

### Tabular model

Power BI Desktop, import mode

### Power BI

Version: 2.107.841.0 64-bit (July 2022)

### Steps to reproduce the behavior

I accidentally messed up the _ShowValueForDate measurre and can't remember what goes in the spot below:

_ShowV

[2022-08-09 15:42] DaveLaff73 commented on #466
Okay, thanks.

Dave

Dave Lafferty
Business Systems Analyst
NOF Metal Coatings North America
Office: (234) 529-5391
Direct: (281) 638-3796

***@***.***

     This e-mail transmission and any attachment are intended only for the use of
the individual or entity to which the communication is addressed, and may contain
information that is privileged, confidential and exempt from disclosure under
appli

[2022-08-10 09:03] #466 closed

[2022-08-15 09:24] adamsmodi opened #467 "Readjust Date template failed"
### Describe the problem

错误 HTTP/500: Internal Server Error.
 *** PLEASE REPORT THIS ISSUE ON GITHUB *** An object with name '日期' does not exist in the collection. (Parameter 'name')

### Bravo version

0.9.5-internal-20220805.1-main-0c108e1698f56d7e257e089e2ec8b5e87fe6ccce (0.9.8252.27502)

### Tabular model

Power BI Desktop, import mode

### Power BI

Power BI Desktop version July 2022

### St

[2022-08-21 13:01] albertospelta commented on #467
Hi @adamsmodi, thanks for reporting the error!
- Does the error also occur with the default language or only with the Chinese language?
- Does the error still occur even though "holidays" are turned off?
- Can you provide a minimal .PBIX file that can be used to reproduce the error?

[2022-08-21 14:14] albertospelta commented on #459
@rudzimj Bravo allows only one instance of the application to run at a time and for this reason Bravo checks at startup if another instance is already running. This is based only on communication between local applications/processes and no external or network connections are made.

Unfortunately, we're not able to reproduce this issue. Could you check in the Windows Event Viewer and look for any e

[2022-08-22 07:02] albertospelta commented on #459
@rudzimj we have an internal build available that tries to fix the error, it would be great if you could test it and let us know if the issue still persists.

The build ID is `20220821.1-0.9.8268.26447` and you can download it at this address: https://bravo.bi/builds

- portable version https://bravorelease.blob.core.windows.net/bravo-internal/2022/08/21/20220821.1-0.9.8268.26447/Bravo.0.9.5.x64-p

[2022-08-23 13:14] rudzimj commented on #459
I tried launching Bravo before and after this build and I get the same (but different than before) message:
![image](https://user-images.githubusercontent.com/36211641/186166171-7be9d4f9-0b83-4ce4-ba0f-563f20396d02.png)

If I choose **Automatic** I get this message:
![image](https://user-images.githubusercontent.com/36211641/186166283-bc66dbac-5eb1-4b4f-9669-89ca0751dd60.png)

It looks like Bravo

[2022-08-25 15:23] rudzimj commented on #459
I'm seeing messages in Power BI and now the PowerPoint Add-in that indicate WebView2 was not successfully installed. I'm trying to resolve this but not having a lot of luck at the moment. This is what I get when I run the WebView2 installer:
<img width="128" alt="image" src="https://user-images.githubusercontent.com/36211641/186705362-d1008cb1-4dce-4e2b-8d13-4191ee9f311f.png">

[2022-08-25 16:40] rudzimj commented on #459
I had to uninstall WebView2 and then reinstall without elevation as an admin, and now Bravo works.

It looks like the install failure left WebView2 in an odd state. If I ran the installer without admin rights, it thought WebView2 was installed. If I ran the installer with admin rights, it would fail with no message on screen, just the 0x80004005 error in the Event Log. The uninstall cleaned it up,

[2022-08-25 17:00] albertospelta commented on #459
@rudzimj when you run the installer as admin you are asked to enter the username and password or just to confirm (yes/no button)?

[2022-08-25 17:05] rudzimj commented on #459
I get a prompt from **BeyondTrust Privilege Management** software that I select a reason for the install and click OK.

[2022-08-25 18:59] albertospelta commented on #459
Thank you so much for the detailed information you have provided.

I would like to do some further test because I think the initial error - the UnauthorizedAccessException - still exists.

Which version of bravo are you using now?  The initial version downloaded from GitHub or the internal test build?  Which MSI installer file did you use (userinstaller / portable / other)?

Can you try to run Bra

[2022-08-25 19:33] rudzimj commented on #459
Here's the original install:
<img width="283" alt="image" src="https://user-images.githubusercontent.com/36211641/186751234-ea0d43f6-8152-4ca9-9624-791810f30426.png">

And here's the build you requested me to install:
<img width="279" alt="image" src="https://user-images.githubusercontent.com/36211641/186751311-cf686111-036e-43b8-872e-4230173a2c01.png">

This is what I see in my Downloads folder:

[2022-08-26 09:08] albertospelta commented on #459
Yes, it would be great if you could de-install those 2 versions test this new internal build.
Thanks!

https://bravorelease.blob.core.windows.net/bravo-internal/2022/08/25/20220825.1-0.9.8272.26313/Bravo.0.9.5.x64.msi

[2022-08-26 14:22] rudzimj commented on #459
I de-installed both versions and installed this build and it launched clean.

Then I de-installed Bravo **and** WebView2 and ran again. Bravo installed WebView2 and it worked fine.

Then I realized that I did it without running the installer as admin, so I de-installed both and tried again. There is no option to run as admin on the right click menu, but there was an **Install** option, so I used t

[2022-08-29 07:35] albertospelta commented on #459
Thanks @rudzimj !

[2022-08-29 07:35] #459 closed

[2022-08-30 19:20] symplrTJB opened #475 "Launch Error - Unauthorized Access Exception"
[code]

Program has been working great and launching fine until early last week? Has anyone seen this or no the steps needed to fix

[2022-08-30 19:35] albertospelta commented on #475
@symplrTJB What version and build of the application are you using and on what OS version ?

[2022-08-30 19:37] symplrTJB commented on #475
@albertospelta Bravo.0.9.5.x64 64 bit recommended version on Windows 10

[2022-08-30 21:36] albertospelta commented on #475
@symplrTJB Does the error occurs every time you run the applicaton ?
Can you share the output of this command ? `tasklist /V | findstr Bravo.exe`

[2022-08-31 13:11] symplrTJB commented on #475
C:\>TASKLIST /V | findstr Bravo.exe
Bravo.exe                    14860 Console                    1     26,020 K Not Responding                                              0:00:35 Bravo for Power BI - v0.9.5

And yes everytime - I have to right run as administrator to get the error to show up - otherwise normal clicking on app nothing happens.

[2022-08-31 15:17] albertospelta commented on #475
@symplrTJB when you right run as admin you are prompted to enter the username and password or just to confirm (yes/no button)?

I think this issue may be a duplicate of #459 - could you install this internal build and let me know if the issue still persists ?
https://bravorelease.blob.core.windows.net/bravo-internal/2022/08/25/20220825.1-0.9.8272.26313/Bravo.0.9.5.x64.msi

[2022-08-31 15:44] symplrTJB commented on #475
Just YES/No prompt - I'll try the later and respond back - thank you

[2022-09-01 09:35] donkocon opened #476 "Error 200: Power BI Desktop process is opening or the Analysis Services instance is not yet ready."
### Describe the problem

Error 200: Power BI Desktop process is opening or the Analysis Services instance is not yet ready.

### Bravo version

0.9.5 (0.9.8190.17886)

### Tabular model

Power BI Desktop, import mode

### Power BI

2.108.997.0 64-bit (august2022)

### Steps to reproduce the behavior

1. Open Bravo for Power BI
2. Open menu
3. Browse in "Active Reports on Power BI Desktop"
4. Open

[2022-09-01 13:01] symplrTJB commented on #475
Unfortunately still not launching - I'm wondering if my local IT changed something and is now causing the problem.

[2022-09-01 13:04] symplrTJB commented on #475
@albertospelta As I was typing out the previous comment it launched - thank you for the support and guidance.

[2022-09-01 13:14] albertospelta commented on #475
Duplicate of #459

[2022-09-01 13:14] #475 closed

[2022-09-02 05:33] donkocon commented on #476
@albertospelta report was already saved, but I just checked and the same issue happens when I open bravo for new (unsaved) report

[2022-09-02 08:17] albertospelta commented on #476
@donkocon It would be helpful to see the detail of the diagnostic messages.
Can you expand the `Object` nodes highlighted in the in the image and share the contents here ?

![image](https://user-images.githubusercontent.com/1957788/188096115-aded2896-14c1-4c1d-ae1e-829ccb2f2f14.png)

[2022-09-05 11:25] donkocon commented on #476
@albertospelta here it is :)

![image](https://user-images.githubusercontent.com/112104303/188438132-a65d10b4-88b2-4e44-9e01-2bcba25fd4ac.png)

[2022-09-05 12:05] albertospelta commented on #476
Does this problem occur always and with all PBI reports ?
What is the name of the PBI report you used in the image you shared before ? Could you take a snapshot of the PBIDesktop window title and the PBIDesktop process (visible in the Windows Task Manager), as in the example below ?

Thanks!

![image](https://user-images.githubusercontent.com/1957788/188443648-1a1ce5fb-b0b6-4b62-9c73-e63651565df1.

[2022-09-07 09:40] donkocon commented on #476
Hey,

Sorry for late reply,

Here are screens:

![image](https://user-images.githubusercontent.com/112104303/188846158-e1a7a34b-8f3d-4ad1-9484-38cdff10faf3.png)

![image](https://user-images.githubusercontent.com/112104303/188846315-3209f6c2-2abf-424f-b021-6d2f74867a73.png)

[2022-09-07 14:43] albertospelta commented on #476
@donkocon we have an internal build available that tries to fix this issue, it would be great if you could test it and let us know if the issue still persists.

To upgrade Bravo to this version you can change the update channel from `Stable` to `Dev` within the options panel as shown in the following image. After this change the `Downlaod` button should allow you to download this new build ( `0.9.

[2022-09-09 02:23] samaguire opened #478 "Weekly Calendar: Incorrect Fiscal Quarter"
### Describe the problem

For the **Weekly** calendars the **Fiscal Quarter** column is a duplication of the Fiscal Year column.

### Bravo version

0.9.5 (0.9.8190.17886)

### Tabular model

Power BI Desktop, import mode

### Power BI

Power BI Desktop Version: 2.108.997.0 64-bit (August 2022)

### Steps to reproduce the behavior

Create a weekly calendar of any variant.

### Additional context

[2022-09-09 12:16] albertospelta commented on #415
Closing as a duplicate of https://github.com/sql-bi/Bravo/issues/476 - please follow that issue for updates.

[2022-09-09 12:16] #415 closed

[2022-09-09 12:49] albertospelta commented on #478
@samaguire Thanks for reporting! This fix will be available in next release

[2022-09-09 12:59] #478 closed

[2022-09-09 14:58] #443 closed

[2022-09-12 14:42] #325 closed

[2022-09-12 14:44] #375 closed

[2022-09-12 14:48] #374 closed

[2022-09-12 14:48] #458 closed

[2022-09-12 15:13] #263 closed

[2022-09-13 14:21] albertospelta commented on #215
Authentication via system browser was added in version [0.9.6](https://github.com/sql-bi/Bravo/releases/tag/v0.9.6)
If you’re still seeing issues, please feel free to post back here and we can reopen it.

[2022-09-13 14:23] albertospelta commented on #478
Fixed in version [0.9.6](https://github.com/sql-bi/Bravo/releases/tag/v0.9.6)

[2022-09-13 14:23] albertospelta commented on #459
Fixed in version [0.9.6](https://github.com/sql-bi/Bravo/releases/tag/v0.9.6)

[2022-09-13 14:23] albertospelta commented on #455
Fixed in version [0.9.6](https://github.com/sql-bi/Bravo/releases/tag/v0.9.6)

[2022-09-13 14:25] albertospelta commented on #445
Fixed in version [0.9.6](https://github.com/sql-bi/Bravo/releases/tag/v0.9.6)

[2022-09-13 14:38] albertospelta commented on #443
Added in version [0.9.6](https://github.com/sql-bi/Bravo/releases/tag/v0.9.6)

The template current applied has the suffix "(Current)" and is no longer duplicated

![image](https://user-images.githubusercontent.com/1957788/189928932-438126a1-83df-453d-92fb-4acb8e1edda5.png)

[2022-09-13 14:38] albertospelta commented on #437
Fixed in version [0.9.6](https://github.com/sql-bi/Bravo/releases/tag/v0.9.6)

[2022-09-13 14:46] albertospelta commented on #374
The ability to customize the Time Intelligence measure folders was added in version [0.9.6](https://github.com/sql-bi/Bravo/releases/tag/v0.9.6).

Using the template management panel on the Bravo options page it is now possible to clone an existing date template or create a new one from scratch. More information here:
- https://docs.sqlbi.com/bravo/options#templates
- https://docs.sqlbi.com/bravo/

[2022-09-13 14:48] jasonhendrix opened #485 "Calculation Groups"
### The feature request

It would be great to be able to automatically add Calculation Groups for all time intelligence measures.

### Proposed solution

We have manually created Calculation Groups today that implement all time intelligence measures discussed in DAX Patterns.

In our case, we have two calendar types. One is a real date table (one row per day - using the "standard" DAX Pattern) and

[2022-09-13 14:49] albertospelta commented on #325
Added in version [0.9.6](https://github.com/sql-bi/Bravo/releases/tag/v0.9.6).

Using the new template management panel on the Bravo options page it is now possible to clone an existing date template or create a new one from scratch.

More information here:
- https://docs.sqlbi.com/bravo/options#templates
- https://docs.sqlbi.com/bravo/customize-date-template.

[2022-09-13 15:21] albertospelta commented on #458
Added in version [0.9.6](https://github.com/sql-bi/Bravo/releases/tag/v0.9.6)

This version includes the new fiscal calendar templates.

![image](https://user-images.githubusercontent.com/1957788/189939080-52d57298-1838-40a4-a3ea-efb838c631ee.png)

[2022-09-13 15:24] albertospelta commented on #476
I am closing this issue as the fix is available in version [0.9.6](https://github.com/sql-bi/Bravo/releases/tag/v0.9.6) but feel free to post back here and we can reopen it if the issue still exists.

[2022-09-19 09:16] marcosqlbi commented on #425
@mscottsewell With the current version of Power BI Datamart, I see that:
- if you connect live to the dataset creating by Power BI datamart, you get another error because it is not supported to connect to the endpoint provided by the datamart (at least this is what I am experiencing).
- it you create a local model (a composite model connected to the remote model), then the Manage Dates feature wor

[2022-09-19 09:16] marcosqlbi commented on #341
Closing the issue for lack of response.

[2022-09-19 09:16] #341 closed

[2022-09-19 09:20] marcosqlbi commented on #406
The customization feature is already available in v0.9.6.
Documentation here: https://docs.sqlbi.com/bravo/features/manage-dates/customize-date-template

[2022-09-19 09:20] #406 closed

[2022-09-19 09:21] marcosqlbi commented on #266
Documentation updated in both UI and https://docs.sqlbi.com/bravo/features/manage-dates/

[2022-09-19 09:21] #266 closed

[2022-09-20 14:20] tidypy opened #488 "Error DateAutoTemplate"
Error:  This expression refers to a partition object name 'DateAutoTemplate[DateAutoTemplate]', which has an error.

I get this error every time I use Bravo to create a date table and after about 4 relationships [modified datetime field]  I get the error.

![image](https://user-images.githubusercontent.com/50213641/191282777-32af8333-05ef-439a-bd7b-7c287533839a.png)

[2022-09-20 14:33] albertospelta commented on #488
@tidypy thanks for reporting the issue!
Could you share a minimal .pbix file and the steps to reproduces this behavior?
It would be helpful for us to know what calendar template you used and with what parameters.

[2022-09-21 20:17] databasedave opened #490 "Trying to connect to PBI service dataset autogenerated by a datamart"
### Describe the problem

Error 101: The database does not exist in the collection or the user does not have administrator rights to access it.
1d8e222b-d4e2-453e-b6ef-09211adbc512

Trying to connect to dataset autogenerated by datamart

### Bravo version

0.9.6 (0.9.8291.23631)

### Tabular model

Power BI Dataset

### Power BI

latest version

### Steps to reproduce the behavior

_No response_

[2022-09-21 20:26] databasedave opened #491 "Error selecting date column in direct query mode to PBI service dataset /datamart"
### Describe the problem

Trying to set a date range generation on auto generated dataset in PBI service from datamart

ERROR 800: exception occured , TOPNSKIP is not supported in direct query mode

### Bravo version

0.9.6 (0.9.8291.23631)

### Tabular model

Power BI Dataset

### Power BI

Power BI desktop Version: 2.108.997.0 64-bit (August 2022)

### Steps to reproduce the behavior

_No respon

[2022-09-22 08:34] albertospelta commented on #491
Hi @databasedave, thanks for reporting this error!

Unfortunately, I am not able to get this error. Could you share here the steps to reproduce the behavior? Did you connect to the dataset by running Bravo as an external tool from PowerBI Desktop or did you select the dataset from the "Connect to Power BI Service" panel in Bravo ?

Link to #425 for internal reference only.

[2022-09-22 09:32] databasedave commented on #490
Thanks Alberto, good to chat to you on the Guy In cube live stream yesterday 😊

From: Alberto Spelta ***@***.***>
Sent: 22 September 2022 09:50
To: sql-bi/Bravo ***@***.***>
Cc: David Curtin ***@***.***>; Mention ***@***.***>
Subject: Re: [sql-bi/Bravo] Trying to connect to PBI service dataset autogenerated by a datamart (Issue #490)

@databasedave<https://github.com/databasedave> It seems that th

[2022-09-26 07:54] albertospelta commented on #488
Hi @tidypy, feel free to drop me an email here alberto.spelta@sqlbi.com if you prefer to send you sample file privately.

[2022-10-04 09:37] minasihene opened #492 "Error 200: Unspecified connection. Version: 0.9.6 (0.9.8291.23631)"
### Describe the problem

Error 200: Unspecified connection.

### Bravo version

0.9.6 (0.9.8291.23631)

### Tabular model

Power BI Desktop, import mode

### Power BI

power bi desktop

### Steps to reproduce the behavior

open bravo from power bi desktop
asked to enter email
after entering email, I got the error

### Additional context

_No response_

### Screenshots

![image](https://user-image

[2022-10-04 10:17] albertospelta commented on #492
@minasihene When you open Bravo from the External Tools menu, is your Power BI Desktop connected to a PBI online dataset ?
Does the error occur with all PBI datasets or just one?
If you open Bravo from the windows programs menu, do you see all the datasets you have access to as in the image below ?

![image](https://user-images.githubusercontent.com/1957788/193794232-3fd27de2-800a-4ad1-9aaa-487183

[2022-10-07 00:03] Chris-Burgess-ACTGOV opened #494 "Format Dax 407 proxy issue"
### Describe the problem

Error HTTP/500: Internal Server Error.
The proxy tunnel request to proxy 'http://proxy.xxxx.gov.au:9090/' failed with status code '407'."

### Bravo version

0.9.6 (0.9.8291.23631)

### Tabular model

Power BI Desktop, import mode

### Power BI

Version: 2.108.825.0 64-bit (August 2022)

### Steps to reproduce the behavior

Format Dax
spins and nothing returned
Format Sel

[2022-10-07 08:33] albertospelta commented on #494
@Chris-Burgess-ACTGOV Are you working from behind a proxy server?
In that case, please configure the proxy credential settings under Options > Proxy.

More details on the configuration are available here:
https://docs.sqlbi.com/bravo/configuration/options#proxy

![image](https://user-images.githubusercontent.com/1957788/194509225-07fb9d17-e0ce-4661-b9d3-6af5663e0a5b.png)

[2022-10-07 08:41] albertospelta opened #495 "Improve proxy authentication error handling"
### The feature request

The authentication request is tracked as an HTTP/500 error and is visible only in the diagnostic log.

[code]

### Proposed solution

Create a new application error (`BravoProblem`) and notify the user in the UI of the need to configure authentication for the proxy server.

### Additional context

See #494

[2022-10-09 06:56] Chris-Burgess-ACTGOV commented on #494
Hi Alberto
Working at a Government Agency.
Firewall, AppLocker in place and cannot configure the proxy.

I will need to raise an internal ticket to get Bravo allowed I think.

FYI had some colleagues install the the Self Contained User & portable versions and they get AppLocker’d when launching.

So two issues really emerging:
Proxy permissions required for self contained
Applocker rules required

[2022-10-09 10:40] albertospelta commented on #494
I think your organization's AppLocker rules allow users to run executable files only from the `Program Files` folder. At the application level we cannot bypass these security rules, per-user and portable versions must be explicitly authorized by your organization.

Regarding proxy permissions, I think Bravo is not allowed to connect to the DaxFormatter web service, probably because the URL address

[2022-10-09 23:42] Chris-Burgess-ACTGOV commented on #494
Hey Alberto
**{"formatted":"","errors":[]}** is what i see (both using Direct Access and from behind firewall)
Can also access the DaxFormatter URLs direct from Edge without issue, but not through Bravo.
Bravo launched via external tools or launched direct exhibit same error.

Cheers

Chris

[2022-10-10 09:21] albertospelta commented on #494
What is your current proxy configuration in Bravo ?

![image](https://user-images.githubusercontent.com/1957788/194832705-f5a8e93f-3f51-4d0b-92d8-65efcde27e2f.png)

If you open the Options\About panel in Bravo a check for available updates is performed.
At the end of the update check what message is displayed? "Bravo is up to date" or an error message like the one below?

![image](https://user-ima

[2022-10-10 10:14] Chris-Burgess-ACTGOV commented on #494
Proxy setting is 'System'
'Bravo is up date' (0.9.6 (0.9.8291.23631)
Have tried running Bravo elevated (using same a/c as installed) - same issue.

Will see if i can get proxy configs and get 'temporary' line of sight.
Ultimately I think will need to go down packaging route to industrialise.

[2022-10-10 14:08] Katatonik76 opened #496 "Error 200: AS instance does not contain any databases"
### Describe the problem

Error 200: The Power BI Desktop Analysis Services instance does not contain any databases. Try to connect to the report using the Bravo icon in the External Tools of Power BI Desktop.

### Bravo version

0.9.6 (0.9.8291.23631)

### Tabular model

Power BI Desktop, import mode

### Power BI

2.109.642.0 64-bit

### Steps to reproduce the behavior

_No response_

### Additi

[2022-10-10 15:36] albertospelta commented on #496
Is your PBIX report live connected to a Power BI dataset ?
Does the error occur even if you connect to the report using the Bravo icon in the External Tools in Power BI Desktop ?

[2022-10-11 07:26] Chris-Burgess-ACTGOV commented on #494
Hi Alberto
Working at a Government Agency.
Firewall, AppLocker in place and cannot configure the proxy.

I will need to raise an internal ticket to get Bravo allowed I think.

FYI had some colleagues install the the Self Contained User & portable versions and they get AppLocker'd when launching.

So two issues really emerging:

  *   Proxy permissions required for self contained
  *   Applocker ru

[2022-10-11 09:08] albertospelta commented on #494
Hi @Chris-Burgess-ACTGOV, to better understand what the cause of the proxy authentication problem is, we made changes and released an internal test build, it would be great if you could test it and let us know if the proxy issue still persists.

You can download this new build using the link below or switch from `Stable` to `Dev` in the Bravo Option\About panel and follow the download link.
https:

[2022-10-11 22:21] Chris-Burgess-ACTGOV commented on #494
Hey @albertospelta
Have Installed Dev Version

<img width="537" alt="image" src="https://user-images.githubusercontent.com/60373199/195208063-be102f10-b7bf-4474-b7bd-9b504bbebbd2.png">

Error HTTP/500: Internal Server Error.
The proxy tunnel request to proxy 'http://proxy.act.gov.au:9090/' failed with status code '407'."
Trace Id: 00-508e799a2415ab38ee97c818ef40c1a6-4fd9391684d4ae33-00
Version: 0.

[2022-10-12 08:01] albertospelta commented on #494
@Chris-Burgess-ACTGOV Thanks for testing it out! Unfortunately, it doesn't seem to have solved the proxy issue.

Bravo uses the same proxy configuration for all HTTP requests, it can access the Internet (e.g. update check, datasets on  powerbi.com), except for the URL address of the DaxFormatter web service, for which the proxy authentication is required. I think it would be useful to ask IT guys

[2022-10-13 02:08] Chris-Burgess-ACTGOV commented on #494
Hey @albertospelta I have a solution.
Proxy - custom - http://proxy.xxx.yyy.au:9090 - 9090 explicitly required.

Additionally
For connections to powerbi.com datasets also require - Tenant settings
<img width="705" alt="image" src="https://user-images.githubusercontent.com/60373199/195481764-fcb68d9e-34e2-4650-8bb4-ad407ef7ca5b.png">

<img width="442" alt="image" src="https://user-images.githubuser

[2022-10-13 04:31] Chris-Burgess-ACTGOV commented on #494
@albertospelta One further...

`Error 10: A connection problem arises between the server and Bravo.
The specified Power BI workspace is not found.

Technical Details:
RootActivityId: 75f75078-9984-42f6-a6b0-4e16014a7433
Trace Id: 00-10a82270feac38b0b634054e0475f894-9106091162b6ddf0-00
Version: 0.9.6 (0.9.8291.23631)`

Got this when trying to connect to a workspace dataset that has a "\" **within**

[2022-10-13 07:26] albertospelta opened #500 "Power BI workspace not found when name contains URI reserved chars"
### Describe the problem

Copied from https://github.com/sql-bi/Bravo/issues/494#issuecomment-1277016034

[code]

Got this when trying to connect to a workspace dataset that has a \ within the workspace name. Slash at end is ok, but within no chocolates. Prob a low user case but WS names are free text really!!??
I guess your not using the workspace id to pass request thru?
(Let me know if want to

[2022-10-13 07:31] albertospelta commented on #494
[code]
@Chris-Burgess-ACTGOV great!
I am closing this issue, but feel free to reopen in case of further issues/questions. Thanks!

I just created this new issue here https://github.com/sql-bi/Bravo/issues/500 to track this error.

[2022-10-13 07:31] #494 closed

[2022-10-13 08:23] albertospelta commented on #500
@Chris-Burgess-ACTGOV That's a bug, thanks for reporting!

The workspace name is free text and is required in order to get the connection URL.
`powerbi://api.powerbi.com/v1.0/[tenant name]/[workspace name]`

The unique workspace object ID can be used - appended to the workspace name - only when connecting to a workspace with the same name as another workspace (duplicated workspace names).

I have

[2022-10-13 23:17] Chris-Burgess-ACTGOV commented on #500
Install of the dev build fails ☹ when updating.

<img width="330" alt="image" src="https://user-images.githubusercontent.com/60373199/195727348-c7fb0313-e7ae-40d6-9187-0a9b30e946e2.png">

System.IO.FileNotFoundException: Could not load file or assembly 'Dax.Formatter, Version=1.0.0.0, Culture=neutral, PublicKeyToken=9ab7b540eb23c0a4'. The system cannot find the file specified.
File name: 'Dax.Form

[2022-10-16 08:07] albertospelta commented on #500
The first error (`FileNotFoundException`) is due to reverting the changes applied in the internal version previously used for testing. This caused a version mismatch for the `Dax.Formatter` library and it's ok to uninstall and reinstall as you did.

Regarding the `UnauthorizedAccessException` error:
- does the error occur only the first time you run Bravo after completing the installation or every

[2022-10-17 00:14] Chris-Burgess-ACTGOV commented on #500
### - does the error occur only the first time you run Bravo after completing the installation or every time you run the application?
Every time when running with normal account.
Note If i launch app elevated it 'appears' to work - i can get to the PowerBI service sign in screen (for Datasets on powerbi.com), but cant then sign in (using either credential) - the auth screen takes me back to sign i

[2022-10-17 00:29] Chris-Burgess-ACTGOV commented on #500
Now back to the Issue 500!!

@albertospelta
Appears the fix rolled out in the DEV build 0.9.6-internal-20221013.1-main-1822e834e3394ad4111722d1dad5490d7a9b57d6 (0.9.8321.14222) **has addressed** the embedding of 'reserved characters' in the Workspace name (not tested $ or % or other randoms)

[2022-10-17 17:41] albertospelta commented on #500
Thanks @Chris-Burgess-ACTGOV !
I'll create a new issue for the `UnauthorizedAccessException`, it's a known bug not yet completely fixed.

I still have a couple of questions on this:
- if you open the Windows Task Manager (process details page) when you get the `UnauthorizedAccessException` error, how many processes for the Bravo.exe application are there?
- are all active Bravo.exe processes runni

[2022-10-18 04:35] Chris-Burgess-ACTGOV commented on #500
Attempting to reproduce on another machine.
Have stable release installed. Updating to DEV release.
Logged in to Windows with normal account.
Open cmd 'run as administrator'. Enter admin creds.
Run msi from cmd.
Install/overwrite works. Now at the Launch Bravo for PowerBI. (Still in the elevated 'bubble')
Successful Launch.
Attempt to log into PowerBI.com (have to tick 'Authenticate in Browser' be

[2022-10-19 02:39] Chris-Burgess-ACTGOV commented on #500
Repeated uninstall/install (stable/dev) on the 20H2 machine.

No UnauthorizedAccessException Error.

The workspace / , proxy:9090 and use browser to auth all working fine.

A system glitch perhaps!!!

[2022-10-20 14:30] suianypatricia opened #504 "Expanding the view box for columns not used by the model"
### The feature request

When I click on "Show unreferenced columns" and "Group by Table", I can see the list of what is not being done. The problem is that I can't change the size of the column view box, being limited to viewing 3 columns at a time.
You can only resize sideways, not down.
<img width="611" alt="Captura de tela 2022-10-20 111552" src="https://user-images.githubusercontent.com/75287

[2022-10-20 15:48] albertospelta commented on #504
Hi @pauloandrejesus, thanks for your suggestion.
The limit of the three rows displayed in the table may depend on the screen resolution. What is the resolution of your screen?
You can use the scroll wheel on your mouse to zoom in or out by pressing `Ctrl` and scrolling the wheel up or down.
Does the number of rows displayed change when zooming in/out?

[2022-10-20 16:04] suianypatricia commented on #504
Who is pauloandrejesus,? I don't understand! Sorry 😊

[2022-10-20 16:04] suianypatricia commented on #504
Hi, albertospelta thanks for the reply. The limit of the three tools displayed in the table really depends on the screen resolution, but the reading required when using other tools, Excel for example, everything stays. The resolution that was in use was set to 150%, the recommended option. I changed it to 100% and it actually shows other lines, but in other tools the reading is bad.

[2022-10-20 16:14] albertospelta commented on #504
Just fixed my comment, my mistake Sorry :-)

[2022-10-20 16:20] albertospelta commented on #504
If you keep the resolution at 150% and zoom out in Bravo (pressing Ctrl and scrolling the mouse wheel) what happens?

[2022-10-20 16:26] suianypatricia commented on #504
Perfect! It worked. Thank you so much 💖

[2022-10-20 16:44] #504 closed

[2022-10-20 19:11] suianypatricia opened #505 "Possibility to export to Excel only the names of unreferenced tables and columns"
### The feature request

I am performing an analysis activity of tables and columns not referenced by the report and I would like to know if it is possible to export this information. The option to export the Vpax file would not suit me, as I would only like the list of what is not used. I don't need the dataset data either. I noticed that it is also not possible to copy the unreferenced column na

[2022-10-21 08:15] albertospelta commented on #505
@suianypatricia Thanks for taking the time to provide this feedback.
This is a great suggestion, and we can consider implementing it in a future release, after V1.

[2022-10-21 08:25] albertospelta opened #506 "UnauthorizedAccessException when launching Bravo"
### Describe the problem

I open this issue to track this error that has been reported several times but does not seem to have been definitively resolved.

https://github.com/sql-bi/Bravo/issues/459
https://github.com/sql-bi/Bravo/pull/468
https://github.com/sql-bi/Bravo/issues/475
https://github.com/sql-bi/Bravo/issues/500#issuecomment-1279917481

### Bravo version

n/a

### Tabular model

Power

[2022-10-21 08:33] albertospelta commented on #500
@Chris-Burgess-ACTGOV thank you for your support in testing this error. I've just created a new issue to track this `UnauthorizedAccessException` that has been reported several times but does not seem to have been definitively resolved.

I am closing this issue since the Workspace name error has been fixed.
Thanks!

[2022-10-21 08:33] #500 closed

[2022-10-21 12:58] suianypatricia commented on #505
Thank you! I look forward to it. Until later. 😊👍🏽

[2022-10-29 20:45] Terpsixore opened #510 "Lost connection to PBI report"
### Describe the problem

When opening Bravo within PowerBI it seems to somehow lose contact with my Power BI report in Power BI desktop after a few seconds. It's there for a moment though. On the NOT AVAILABLE button in Bravo the message says "The report was closed i Power BI desktop. Any writing operation is disallowed". But the report is not closed in PBI desktop. Nor can i connect to a pbix fi

[2022-10-30 08:48] albertospelta commented on #510
@Terpsixore thanks for reporting! This is a bug similar to the one already reported here https://github.com/sql-bi/Bravo/issues/476#issuecomment-1236915152

This issue is due to a different text format that Power BI Desktop applies to the report name/title depending on the display culture used on the PC. Bravo uses this title to get the report name and this small difference in format is the cause

[2022-10-30 20:55] Terpsixore commented on #510
Many many thanks, works great now!

[2022-10-30 21:00] #510 closed

[2022-11-02 08:30] achkata845 opened #514 "The Power BI report takes too long to open"
### Describe the problem

Error 200: Power BI Desktop process is opening or the Analysis Services instance is not yet ready.

### Bravo version

1.0.0 (1.0.8339.28087)

### Tabular model

Power BI Desktop, import mode

### Power BI

Version: 2.110.805.0 64-bit (October 2022)

### Steps to reproduce the behavior

_No response_

### Additional context

_No response_

### Screenshots

![image](https:

[2022-11-02 09:03] albertospelta commented on #510
Fixed in version [1.0.0](https://github.com/sql-bi/Bravo/releases/tag/v1.0.0)

[2022-11-02 09:12] albertospelta commented on #514
@achkata845 Which option did you use to connect Bravo to the Power BI report?
Did you select an active report from the "Open \ ActiveReports on Power BI Desktop" panel or did you use the "Browse ..." option?

![image](https://user-images.githubusercontent.com/1957788/199449289-95d4e684-a60c-4d47-9efd-f63dab6336fb.png)

[2022-11-02 09:20] achkata845 commented on #514
Hello Alberto,

I used the browse button. After that the report needed to be opened and this took very long time. When the report was loaded in the active reports after being opened there was no issue loading it.

[2022-11-02 09:28] albertospelta commented on #514
The "Browse" button has a timeout of 2 minutes by default and if the report takes longer to load then this error is shown.
I think we can increase this value. How long does your report take to load?

[2022-11-02 09:49] achkata845 commented on #514
It took approx 4 min and 30 sec to load.

[2022-11-02 10:22] albertospelta commented on #514
I just pushed a change that increases the timeout value to 5 minutes, this fix will be available in the next release.
I am closing this issue, but feel free to reopen in case of further issues/questions. Thanks @achkata845!

[2022-11-02 10:22] #514 closed

[2022-11-02 10:40] cts14 opened #517 "AnalyzeModel - VertiPaq Analyzer request timeout HTTP/408"
### Describe the problem

Error HTTP/408: Request timeout.

### Bravo version

1.0.0 (1.0.8339.28087)

### Tabular model

Power BI Desktop, import mode

### Power BI

SSAS 2017 LIVE Connection

### Steps to reproduce the behavior

1. Open PowerBI Desktop
2. Go to External Tools
3. Click Bravo
4. Error HTTP/408: Request timeout.

### Additional context

Note: I am able to connect to the same server

[2022-11-02 11:31] albertospelta opened #518 "Add support for Power BI Desktop RS"
### Discussed in https://github.com/sql-bi/Bravo/discussions/515

<div type='discussions-op-text'>

<sup>Originally posted by **josef78** November  2, 2022</sup>
Please, add support to connect to tabular models in SQL Server Analysis Services and Azure Analysis Services...</div>

See https://github.com/sql-bi/Bravo/discussions/515#discussioncomment-4035815
<div>
Good, it's working from classic "Po

[2022-11-02 13:08] albertospelta commented on #517
Could you share here the details of the `HTTP/500 Internal Server Error` error message?

![image](https://user-images.githubusercontent.com/1957788/199496760-926762df-076a-4047-90ee-d21a9984c988.png)

[2022-11-02 14:01] albertospelta commented on #517
As far as I can see, the error `HTTP/500 Internal Server Error` no longer appears in the messages displayed.
Is the SSAS 2017 instance installed on a server in the local network or a virtual machine on cloud ?

[2022-11-02 14:12] cts14 commented on #517
Oh sorry I gave you details for the wrong event. We had to restart the SSAS service at that moment and that is why I got that message. The instance is installed in the local network. In case it helps when I check the running sessions while I am waiting from Bravo to fetch the model metadata I can see that it runs the following command:

 `SELECT     DIMENSION_NAME AS TABLE_NAME,      TABLE_ID AS C

[2022-11-02 15:02] cts14 commented on #517
if I switch on the telemetry will that help you with more logs?

[2022-11-02 18:24] JayDoc386 opened #519 "Measure formatting Failed - XMLA read/write is not enabled"
### Describe the problem

Error HTTP/500: Internal Server Error.
Failed to save modifications to the server. Error returned: 'It looks like you can't make changes to this dataset. Please contact a capacity administrator to make sure XMLA read/write support is enabled in the capacity settings on the Power BI Premium capacity, and then try again. For additional information, see 'XMLA read/write supp

[2022-11-02 20:16] albertospelta commented on #517
Unfortunately not, this error does not generate a telemetry event.

The analysis of the model that Bravo performs requires the execution of multiple queries and the time required to complete all the queries exceeds 5 minutes which is the timeout that Bravo uses by default.

Would you mind running these queries via SSMS and let me know how long they take to complete?

**QUERY ColumnsData**
[code]

[2022-11-02 20:49] dgosbell commented on #518
Note that Power BI Desktop for RS does not support External Tools, so it cannot redirect Bravo to the live connected SSAS model. The only solution here is to wait for Bravo to add support for directly connecting to SSAS/AAS models.

You can still connect to Power BI Desktop for RS files which have the model as part of the PBIX file by just launching Bravo from the Windows Start menu and attaching

[2022-11-03 03:51] dgwilson opened #520 "Trying to save a VPAX file generated an error."
### Describe the problem

Error HTTP/500: Internal Server Error.
The query referenced calculated column 'CALENDAR_DIM'[Quarter-CY] which does not hold any data because there is an error in its expression.

### Bravo version

1.0.0 (1.0.8339.28087)

### Tabular model

Power BI Desktop, import mode

### Power BI

Power BI Desktop version October 2022

### Steps to reproduce the behavior

1. Click on

[2022-11-03 08:26] albertospelta commented on #519
Hi @JayDoc386, in order for Bravo to perform the update, the XMLA endpoint property must be enabled for read-write. As long as this setting is not active, Bravo can only read the dataset and not modify(write) it.

You can find here the 'XMLA read/write support' docs
https://learn.microsoft.com/en-us/power-bi/enterprise/service-premium-connect-tools#enable-xmla-read-write

[2022-11-03 08:59] albertospelta commented on #519
I just pushed a minor fix to prevent this message from being reported as an application error `Error HTTP/500: Internal Server Error`

[2022-11-03 09:52] albertospelta commented on #520
@dgwilson I cannot find this error in telemetry, and unfortunately I am unable to reproduce the error.
Can you check if telemetry in Bravo is enabled and try the same steps again to recreate the error?

[2022-11-03 10:04] albertospelta commented on #517
Setting : Read statistics from data -> OFF

Would it be possible to test how long it takes to run if the option for reading statistics is turned on ?

[2022-11-03 10:42] cts14 commented on #517
I believe it crashes/fails to do so. That is why after researching online I found that if I switch it off it will run. I have exported the vpax from DaxStudio and imported into Bravo. It loaded succesfully. Note that our Model is 160GB

[2022-11-03 11:20] albertospelta commented on #517
We have just pushed a fix that removes the 5-minute default timeout and, if you want to test, you can try the latest internal build. To upgrade Bravo to this version (`1.0.8342.18558`) you can change the update channel from `Stable` to `Dev` in the options panel as shown in the following image.

Please let me know if the timeout error still occurs even with this version.
Thanks!

![image](https://

[2022-11-03 11:31] cts14 commented on #517
It worked. it took 7 minutes. Much appreciated

[2022-11-03 11:31] #517 closed

[2022-11-03 14:57] albertospelta opened #525 "Incorrect warning icon for too many rows in table"
### Discussed in https://github.com/sql-bi/Bravo/discussions/523

<div type='discussions-op-text'>

<sup>Originally posted by **generalledgercpa** November  3, 2022</sup>
In the Export Data screen, there is a list of all tables with rows and size.  To the left of the table name is an icon that has a warning triangle that says, "This table has too many rows.  Only the first million rows can be expo

[2022-11-03 15:17] #525 closed

[2022-11-03 16:28] ajerb opened #527 "Difference between VertiPaq model size and PBIX file size"
### Describe the problem

Hi,
I am surprised to see the difference my Dataset size that Bravo displays VS the size that is displayed in the service or in my desktop

 ![image](https://user-images.githubusercontent.com/44672352/199777234-4fdb8493-d7c3-41a4-bd24-a517ceca261a.png)

Is there an explanation to that or is it a bug ?

### Bravo version

v1.0.0

### Tabular model

Power BI Desktop, import

[2022-11-03 19:07] dgwilson commented on #520
Confirming Telemetry is enabled.
I have reproduced the error (same actions again).

Not my model fortunately. There's a lot of local date tables! I've request that be delt with.
"Your dataset is 640.66MB large and contains 2,336 columns, 2083 of which are not referenced within the model".
I very very much suspect that local date tables are most of these.

Error HTTP/500: Internal Server Error.
The

[2022-11-03 20:24] albertospelta commented on #527
Hi @ajerb

The PBIX file on your desktop and the dataset in the service storage are both a compressed backup of your data model. When you open the PBIX report or a report on PBI service then the data model is loaded in memory in the Analysis Services process. Data loaded into memory takes more space because part of the data is not compressed so it's normal that this size - which is the one that Br

[2022-11-03 21:26] ajerb commented on #527
Hi @albertospelta
Thanks a lot, the video helped me a lot to understand it.

[2022-11-03 21:26] #527 closed

[2022-11-04 00:34] dgosbell commented on #520
So the following would seem to be the critical part of the error message:
[code]

Have you tried fixing the error in that calculated column expression or even just temporarily stubbing it out with a constant like `=1`  to see if this fixes the problem?

[2022-11-06 22:24] dgwilson commented on #520
As suggested. I "fixed" the erroring columns with hard coded values.
I have now successfully saved the VPAX file.

[2022-11-07 07:51] albertospelta commented on #520
Thank you for the help @dgosbell!

[2022-11-07 07:51] #520 closed

[2022-11-14 10:42] albertospelta opened #535 "Exclude Time columns from Automatic Scan\Chose Columns"
### Discussed in https://github.com/sql-bi/Bravo/discussions/533

<div type='discussions-op-text'>

<sup>Originally posted by **FrijolesNegros** November 10, 2022</sup>
During the Automatic Scan of All Columns, perhaps it would be helpful to exclude columns of Time datatype? This would prevent generation of a calendar table that is erroneously large.

This is not critical since the user can ignore

[2022-11-15 18:16] albertospelta opened #538 "Issue connecting to PBI Government Service (cloud)"
_Originally posted by @vansree in https://github.com/sql-bi/Bravo/discussions/537#discussioncomment-4148901_

I am NOT able to and hence posted the issue.

Steps to reproduce:

1. Launch Bravo for Power BI - v1.0.0
2. Click "Connect to Power BI Service"
3. You will see "Open" window/dialog.
    Red under line on "Datasets on powerbi.com"
    (active tab)

    Message shows
	"You are not connected

[2022-11-15 19:42] awatsky commented on #538
Hey @albertospelta, I am experiencing the same issue that @vansree is experiencing. Here's some more information...
I am getting  [HOST] AppWindow.InitializeWebViewAsync.AdditionalBrowserArguments with the system proxy.

![image](https://user-images.githubusercontent.com/20262286/202003397-c39fe82a-2fb9-4f46-86b0-56f48eafeeaf.png)

I have Authenticate in Browser Enabled.

When I first put my e-mai

[2022-11-15 20:26] albertospelta commented on #538
Hi @vansree, could you please enable the verbose diagnostic in the options panel?

![image](https://user-images.githubusercontent.com/1957788/202008144-028a95c2-d0d1-4acb-a6b0-8d95d2815b2b.png)

Once you have enabled verbose diagnostics and restarted Bravo can you try sign in again?
Are there any error messages in the diagnostic panel? Could you share here the messages you get?

Here is what is di

[2022-11-15 20:59] albertospelta commented on #538
Hi @awatsky, thanks a lot for the detailed information! I am trying to figure out what might be causing these problems but unfortunately I don't have a GCC account so I can't test it. I really appreciate your support in this regard 👍.

Could you please copy and share here the `[HOST] PBICloudSettingsService.GetEnvironmentsAsync` output message?

![image](https://user-images.githubusercontent.com/1

[2022-11-15 22:18] vansree commented on #538
{"name":"[HOST] PBICloudSettingsService.GetEnvironmentDiscoveryBaseUri","objects":["https://api.powerbi.com/"],"time":1668550453671}

![image](https://user-images.githubusercontent.com/49765261/202036591-3362ad5c-e871-4b4a-af0f-d3b9f7e0c172.png)

![image](https://user-images.githubusercontent.com/49765261/202036675-22270faf-3df8-4830-b9fe-6c4800cd2611.png)

{"name":"[HOST] PBICloudSettingsService.

[2022-11-16 11:11] albertospelta commented on #519
@JayDoc386 I am closing this issue because it is not an error but an informational message that suggests enabling read/write support for the XMLA endpoint. Feel free to reopen in case of further questions. Thanks!

[2022-11-16 11:11] #519 closed

[2022-11-16 16:50] albertospelta commented on #538
@awatsky That's great news indeed!

You are definitely right, this problem existed in all previous versions as well

@vansree please let us know if it worked for you too. Thanks!

[2022-11-17 03:58] samcsheng opened #540 "[QTDOPQ % Sales] Reference Issue"
### Describe the problem

The auto-generated Time Intelligence Measure `[QTDOPQ % Sales]` reference `[PWC Sales]` as the base for calculating variance versus Previous Quarter Complete Sales, which should be `[PQC Sales]` instead.

[code]
Also, the equivalent measure `[WTDOPW % Sales]` is missing.

Hopefully this will be fixed in the future release ;)

Thanks a lot for creating such a wonderful too

[2022-11-18 09:10] albertospelta commented on #538
Sure, many thanks @awatsky! This is great news 👍

[2022-11-18 15:12] vansree commented on #538
Hi,

I downloaded the dev version and able to connect. The issue seems to be resolved. I wonder what fix you did, more for technical knowledge. Appreciated the replies and fix.

I will update if I found any errors. Keep the issue open for the next few days and close it if I don't post any.

Regards
Sree

[2022-11-18 16:19] albertospelta commented on #538
@vansree, the bug was in the `GetTenantCluster` API which always hit against the PBI commercial endpoint https://api.powerbi.com/ instead of using the GCC endpoint https://api.powerbigov.us/

This is the commit that fixed the bug https://github.com/sql-bi/Bravo/pull/539/commits/04239f35b1a5555158afb99c769885a5095a0c64#diff-98ee11d7bb37796548984cee4b46c07ddc5d9f7d7b5d97351c20cffde6da0494

[2022-11-19 15:19] mscottsewell opened #541 "In Time Intelligence, Preview Changes, Every folder shows "M" as modified regardless of changes."
### Describe the problem

When I preview the changes for Time Intelligence, it shows every folder as having Modified measures - even when there are no changes to be made -
Even when there are deletes or new measures in sub-folders there's no visibility at the higher level to indicate that I should open each folder to review.
I can expand to just a list of measures, but it still shows as if every m

[2022-11-20 10:42] albertospelta commented on #541
Hi @mscottsewell, thanks for reporting this! I just realized that the same problem also exists in the preview of the data tables where 'M' is shown even if no modification has been done

![image](https://user-images.githubusercontent.com/1957788/202897689-2955b5cf-c760-4ad6-8d77-d8f90f20697a.png)

[2022-11-20 13:11] albertospelta commented on #541
@mscottsewell I just pushed a fix for this issue, if you want to test you can try the latest internal build by changing the update channel from `Stable` to `Dev` in the Bravo options panel and then following the download link. Thanks!

[2022-11-20 13:13] albertospelta opened #543 "Date tables preview shows "M" as modified regardless of changes"
Hi @mscottsewell, thanks for reporting this! I just realized that the same problem also exists in the preview of the data tables where 'M' is shown even if no modification has been done

![image](https://user-images.githubusercontent.com/1957788/202897689-2955b5cf-c760-4ad6-8d77-d8f90f20697a.png)

_Originally posted by @albertospelta in https://github.com/sql-bi/Bravo/issues/541#issuecomment-13210

[2022-11-20 14:28] mscottsewell commented on #541
Thank you! I will test it later today.

[2022-11-20 14:48] mscottsewell opened #544 "Temporary 'hang' on first open of Format DAX tab."
### Describe the problem

When I open the app the first time and choose the 'Format DAX' tab, it appears to 'hang' briefly - the 'spinny' refresh icon is not moving and is still has the button for 'analyze now' showing, but you can't interact with the app at all. - After a brief delay (20-30 Seconds) the control returns to the user. -
The request is to 1) either avoid the wait, or 2) if it's neede

[2022-11-21 07:29] #541 closed

[2022-11-21 08:02] albertospelta commented on #544
Hi @mscottsewell, unfortunately I can't reproduce the issue. Does the hang happen only with online datasets or also with a local PBIX? Does it happen at every Bravo startup or only at the first startup after installing a new version?

[2022-11-21 14:05] mscottsewell commented on #544
It's a local PBIX - and it only happens during every startup of bravo - and only on the formatting tab. - It happened with the released version and the beta I just downloaded.

My last measurement was that it lasted about 22 seconds - but about 50 seconds if I click around aggressively during the 'hang' time.   _This is **not** a showstopper for me_.

This is the view from task manager during that

[2022-11-22 14:03] albertospelta commented on #544
@mscottsewell Is it possible for you to share a minimal .pbix file that reproduces this behavior?

[2022-11-22 14:04] #538 closed

[2022-11-22 15:50] mscottsewell commented on #544
@albertospelta  - Here's a PBIX - this contains ONLY demo data - no real customer information.
[Link to demo file on GitHub](https://github.com/mscottsewell/Power-BI-D365-Sales/blob/main/SQLBI-TEMP/Contoso%20Sales.pbix)

[2022-11-22 16:47] mscottsewell commented on #544
@albertospelta  - Oddly enough, when I turned 'on' diagnostics, I didn't see the pause. - when I turned 'off' diagnostics and re-started, it returned. 🤷‍♂️

[2022-11-22 17:01] albertospelta commented on #544
@mscottsewell thank you very much, this is a very useful detail!
I can now reproduce the error every time I start the application **only when the diagnostics is turned off**

[2022-11-23 13:11] albertospelta commented on #544
@mscottsewell We have just pushed a fix for this issue, if you want to test you can try the latest internal `Dev` build `1.0.8362.21973`

[2022-11-23 13:21] mscottsewell commented on #544
Yes! - Just re-tested with 1.0.0-internal-20221123.1-main-b7152407794543856b42adc4c523480f3b25e564 (1.0.8362.21973) and it worked great! - Thank you!

[2022-11-23 13:24] #544 closed

[2022-11-24 10:00] #540 closed

[2022-11-24 12:54] albertospelta commented on #425
Hi @mscottsewell, I'm reopening this issue as we received another report for the same bug (#491)

Please let me know if the issue still exists today with the current version of Datamart.
If the problem still persists, could you provide the steps to reproduce?
Thanks!

[2022-11-24 12:57] albertospelta commented on #491
Hi @databasedave! Does the issue still exist today with the current version of Datamart?
If the problem still persists, could you provide the steps to reproduce?

[2022-11-24 13:28] albertospelta commented on #540
Hi @samcsheng, we fixed the `[QTDOPQ %]` and added the missing `[WTDOPW %]` measure.
The fix will be available in next release, thank you!

[2022-11-24 17:59] mscottsewell commented on #425
@albertospelta - sure, but it'll be a few days before I can get back on it.